openapi: 3.1.0
info:
  contact:
    email: team@neynar.com
    name: Neynar
    url: https://neynar.com/
  description: |
    Perform basic queries of Farcaster state via the REST API of a Farcaster hub. See the [Neynar docs](https://docs.neynar.com/reference) for more details.
  title: Farcaster Hub API
  version: 2.21.0
servers:
- url: https://hub-api.neynar.com
security:
- ApiKeyAuth: []
tags:
- description: Operations related to hub information.
  name: Info
- description: Operations related to casts.
  name: Casts
- description: Operations related to reactions.
  name: Reactions
- description: Operations related to links.
  name: Links
- description: Operations related to user data.
  name: UserData
- description: Operations related to FIDs.
  name: Fids
- description: Operations related to storage limits.
  name: Storage
- description: Operations related to usernames.
  name: Usernames
- description: Operations related to verifications.
  name: Verifications
- description: Operations related to on-chain events.
  name: OnChainEvents
- description: Operations related to messages.
  name: Message
- description: Operations related to hub events.
  name: HubEvents
paths:
  /v1/info:
    get:
      description: Retrieve hub information.
      externalDocs:
        description: Farcaster Hub API
        url: https://docs.neynar.com/reference/lookup-hub-info
      operationId: lookup-hub-info
      parameters:
      - description: "Controls whether the response includes database statistics.\
          \ When true, the response includes information about the hub's database\
          \ state, storage usage, and performance metrics."
        explode: true
        in: query
        name: dbstats
        required: true
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HubInfoResponse'
          description: A successful response.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: Sync Methods
      tags:
      - Info
  /v1/castById:
    get:
      description: Lookup a cast by its FID and hash.
      externalDocs:
        description: Lookup a cast by its FID and hash
        url: https://docs.neynar.com/reference/lookup-cast-by-hash-and-fid
      operationId: lookup-cast-by-hash-and-fid
      parameters:
      - description: The FID of the cast's creator
        explode: true
        in: query
        name: fid
        required: true
        schema:
          $ref: '#/components/schemas/FidSchema'
        style: form
      - description: The unique hash identifier of the cast. This is a 40-character
          hexadecimal string prefixed with '0x' that uniquely identifies a specific
          cast in the Farcaster network.
        explode: true
        in: query
        name: hash
        required: true
        schema:
          pattern: "^0x[0-9a-fA-F]{40}$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastAdd'
          description: The requested Cast.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: By FID and Hash
      tags:
      - Casts
  /v1/castsByFid:
    get:
      description: Fetch user's casts.
      externalDocs:
        description: Fetch user's casts
        url: https://docs.neynar.com/reference/fetch-users-casts
      operationId: fetch-users-casts
      parameters:
      - description: The FID of the casts' creator
        explode: true
        in: query
        name: fid
        required: true
        schema:
          $ref: '#/components/schemas/FidSchema'
        style: form
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/paginationReverse'
      - $ref: '#/components/parameters/pageToken'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fetch_users_casts_200_response'
          description: The requested Casts.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: By FID
      tags:
      - Casts
  /v1/castsByMention:
    get:
      description: Fetch casts mentioning a user.
      externalDocs:
        description: Fetch casts mentioning a user
        url: https://docs.neynar.com/reference/fetch-casts-mentioning-user
      operationId: fetch-casts-mentioning-user
      parameters:
      - description: The FID that is mentioned in a cast
        example: 3
        explode: true
        in: query
        name: fid
        required: true
        schema:
          type: integer
        style: form
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/paginationReverse'
      - $ref: '#/components/parameters/pageToken'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fetch_users_casts_200_response'
          description: The requested Casts.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: Mentioning an FID
      tags:
      - Casts
  /v1/castsByParent:
    get:
      description: "Retrieve all reply casts (responses) to a specific parent cast\
        \ in the Farcaster network. Parent casts can be identified using either a\
        \ combination of FID and hash, or by their URL. This endpoint enables traversal\
        \ of conversation threads and retrieval of all responses to a particular cast."
      externalDocs:
        description: Fetch casts by parent
        url: https://docs.neynar.com/reference/fetch-casts-by-parent
      operationId: fetch-casts-by-parent
      parameters:
      - description: The Farcaster ID (FID) of the parent cast's creator. This parameter
          must be used together with the 'hash' parameter to uniquely identify a parent
          cast. Required only when using hash-based lookup instead of URL-based lookup.
          The FID is a unique identifier assigned to each Farcaster user.
        explode: true
        in: query
        name: fid
        required: false
        schema:
          format: uint64
          minimum: 1
          type: integer
        style: form
      - description: The unique hash identifier of the parent cast. Must be used together
          with the 'fid' parameter when doing hash-based lookup. This is a 40-character
          hexadecimal string prefixed with '0x' that uniquely identifies the cast
          within the creator's posts. Not required if using URL-based lookup.
        explode: true
        in: query
        name: hash
        required: false
        schema:
          pattern: "^0x[0-9a-fA-F]{40}$"
          type: string
        style: form
      - description: Cast URL starting with 'chain://'
        explode: true
        in: query
        name: url
        required: false
        schema:
          format: uri
          type: string
        style: form
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/paginationReverse'
      - $ref: '#/components/parameters/pageToken'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fetch_casts_by_parent_200_response'
          description: "A successful response containing all reply casts to the specified\
            \ parent cast, along with pagination information for traversing large\
            \ result sets."
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: By parent cast
      tags:
      - Casts
  /v1/reactionById:
    get:
      description: Lookup a reaction by its FID or cast.
      externalDocs:
        description: Lookup a reaction by its FID or cast
        url: https://docs.neynar.com/reference/lookup-reaction-by-id
      operationId: lookup-reaction-by-id
      parameters:
      - description: The FID of the reaction's creator
        example: 616
        explode: true
        in: query
        name: fid
        required: true
        schema:
          type: integer
        style: form
      - description: The FID of the cast's creator
        example: 616
        explode: true
        in: query
        name: target_fid
        required: true
        schema:
          type: integer
        style: form
      - description: The cast's hash
        example: 0xfec8fd3546e1f46cf5ad10a4ff9f5d53a3bbe9be
        explode: true
        in: query
        name: target_hash
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: reaction_type
        required: true
        schema:
          $ref: '#/components/schemas/ReactionType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reaction'
          description: The requested Reaction.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: By FID or cast
      tags:
      - Reactions
  /v1/reactionsByCast:
    get:
      description: Retrieve all reactions (likes or recasts) on a specific cast in
        the Farcaster network. The cast is identified by its creator's FID and unique
        hash. This endpoint helps track engagement metrics and user interactions with
        specific content.
      externalDocs:
        description: Fetch reactions on a cast
        url: https://docs.neynar.com/reference/fetch-cast-reactions
      operationId: fetch-cast-reactions
      parameters:
      - description: The FID of the cast's creator. Required to uniquely identify
          the cast that received the reactions. Must be used in conjunction with target_hash.
        explode: true
        in: query
        name: target_fid
        required: true
        schema:
          $ref: '#/components/schemas/FidSchema'
        style: form
      - description: The unique hash identifier of the cast that received the reactions.
          This is a 40-character hexadecimal string prefixed with '0x' that uniquely
          identifies the cast within the creator's posts. Must be used with target_fid.
        explode: true
        in: query
        name: target_hash
        required: true
        schema:
          pattern: "^0x[0-9a-fA-F]{40}$"
          type: string
        style: form
      - explode: true
        in: query
        name: reaction_type
        required: true
        schema:
          $ref: '#/components/schemas/ReactionType'
        style: form
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/paginationReverse'
      - $ref: '#/components/parameters/pageToken'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fetch_cast_reactions_200_response'
          description: The requested Reactions.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: On cast
      tags:
      - Reactions
  /v1/reactionsByFid:
    get:
      description: Fetch reactions by a user.
      externalDocs:
        description: Fetch reactions by a user
        url: https://docs.neynar.com/reference/fetch-user-reactions
      operationId: fetch-user-reactions
      parameters:
      - description: The FID of the reaction's creator
        explode: true
        in: query
        name: fid
        required: true
        schema:
          $ref: '#/components/schemas/FidSchema'
        style: form
      - explode: true
        in: query
        name: reaction_type
        required: true
        schema:
          $ref: '#/components/schemas/ReactionType'
        style: form
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/paginationReverse'
      - $ref: '#/components/parameters/pageToken'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fetch_cast_reactions_200_response'
          description: The requested Reactions.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: By FID
      tags:
      - Reactions
  /v1/reactionsByTarget:
    get:
      description: Fetch all reactions of a specific type (like or recast) that target
        a given URL. This endpoint is useful for tracking engagement with content
        across the Farcaster network.
      externalDocs:
        description: Fetch reactions by a target URL
        url: https://docs.neynar.com/reference/fetch-reactions-by-target
      operationId: fetch-reactions-by-target
      parameters:
      - description: Target URL starting with 'chain://'.
        explode: true
        in: query
        name: url
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: reaction_type
        required: false
        schema:
          $ref: '#/components/schemas/ReactionType'
        style: form
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/paginationReverse'
      - $ref: '#/components/parameters/pageToken'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fetch_cast_reactions_200_response'
          description: The requested Reactions.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: To a target URL
      tags:
      - Reactions
  /v1/linkById:
    get:
      description: Lookup a link by its FID and target FID.
      externalDocs:
        description: Lookup a link by its FID and target FID
        url: https://docs.neynar.com/reference/lookup-user-relation
      operationId: lookup-user-relation
      parameters:
      - description: The FID of the link's originator
        explode: true
        in: query
        name: fid
        required: true
        schema:
          $ref: '#/components/schemas/FidSchema'
        style: form
      - description: The FID of the target user for this link
        explode: true
        in: query
        name: target_fid
        required: true
        schema:
          $ref: '#/components/schemas/FidSchema'
        style: form
      - explode: true
        in: query
        name: link_type
        required: true
        schema:
          $ref: '#/components/schemas/LinkType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkAdd'
          description: The requested Link.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: By its FID and target FID
      tags:
      - Links
  /v1/linksByFid:
    get:
      description: Fetch a list of users that a user is following.
      externalDocs:
        description: Fetch a list of users that a user is following
        url: https://docs.neynar.com/reference/fetch-user-following
      operationId: fetch-user-following
      parameters:
      - description: The FID of the link's originator
        explode: true
        in: query
        name: fid
        required: true
        schema:
          $ref: '#/components/schemas/FidSchema'
        style: form
      - explode: true
        in: query
        name: link_type
        required: false
        schema:
          $ref: '#/components/schemas/LinkType'
        style: form
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/paginationReverse'
      - $ref: '#/components/parameters/pageToken'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fetch_user_following_200_response'
          description: The requested Links.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: From source FID
      tags:
      - Links
  /v1/linksByTargetFid:
    get:
      description: Fetch a list of users that are following a user.
      externalDocs:
        description: Fetch a list of users that are following a user
        url: https://docs.neynar.com/reference/fetch-user-followers
      operationId: fetch-user-followers
      parameters:
      - description: The FID of the target user for this link
        explode: true
        in: query
        name: target_fid
        required: true
        schema:
          $ref: '#/components/schemas/FidSchema'
        style: form
      - explode: true
        in: query
        name: link_type
        required: false
        schema:
          $ref: '#/components/schemas/LinkType'
        style: form
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/paginationReverse'
      - $ref: '#/components/parameters/pageToken'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fetch_user_following_200_response'
          description: The requested Links.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: To target FID
      tags:
      - Links
  /v1/userDataByFid:
    get:
      description: "**Note:** one of two different response schemas is returned based\
        \ on whether the caller provides the `user_data_type` parameter. If included,\
        \ a single `UserDataAdd` message is returned (or a `not_found` error). If\
        \ omitted, a paginated list of `UserDataAdd` messages is returned instead."
      externalDocs:
        description: Fetch user data for a user
        url: https://docs.neynar.com/reference/fetch-user-data
      operationId: fetch-user-data
      parameters:
      - description: The FID that's being requested
        example: 3
        explode: true
        in: query
        name: fid
        required: true
        schema:
          type: integer
        style: form
      - description: "The type of user data, either as a numerical value or type string.\
          \ If this is omitted, all user data for the FID is returned"
        explode: true
        in: query
        name: user_data_type
        required: false
        schema:
          $ref: '#/components/schemas/UserDataType'
        style: form
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/paginationReverse'
      - $ref: '#/components/parameters/pageToken'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fetch_user_data_200_response'
          description: The requested UserData.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: Fetch UserData for a FID
      tags:
      - UserData
  /v1/fids:
    get:
      description: Fetch a list of all the FIDs.
      externalDocs:
        description: Fetch a list of all the FIDs
        url: https://docs.neynar.com/reference/fetch-fids
      operationId: fetch-fids
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/paginationReverse'
      - $ref: '#/components/parameters/pageToken'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FidsResponse'
          description: A successful response.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: Fetch a list of all the FIDs
      tags:
      - Fids
  /v1/storageLimitsByFid:
    get:
      description: Fetch a user's storage limits.
      externalDocs:
        description: Fetch a user's storage limits
        url: https://docs.neynar.com/reference/lookup-user-storage-limit
      operationId: lookup-user-storage-limit
      parameters:
      - example: 3
        explode: true
        in: query
        name: fid
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageLimitsResponse'
          description: A successful response.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: FID's limits
      tags:
      - Storage
      x-codegen-request-body-name: body
  /v1/userNameProofsByFid:
    get:
      description: Fetch proofs provided by a user.
      externalDocs:
        description: Fetch proofs provided by a user
        url: https://docs.neynar.com/reference/fetch-username-proofs-by-fid
      operationId: fetch-username-proofs-by-fid
      parameters:
      - description: The FID being requested
        example: 616
        explode: true
        in: query
        name: fid
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsernameProofsResponse'
          description: A successful response.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: Proofs provided by an FID
      tags:
      - Usernames
  /v1/userNameProofByName:
    get:
      description: Fetch a proof for a username.
      externalDocs:
        description: Fetch a proof for a username
        url: https://docs.neynar.com/reference/fetch-username-proof-by-name
      operationId: fetch-username-proof-by-name
      parameters:
      - description: The Farcaster username or ENS address
        examples:
          username:
            value: rish
          ENS address:
            value: dwr.eth
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserNameProof'
          description: A successful response.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: Proof for a username
      tags:
      - Usernames
  /v1/verificationsByFid:
    get:
      description: Fetch verifications provided by a user.
      externalDocs:
        description: Fetch verifications provided by a user
        url: https://docs.neynar.com/reference/fetch-verifications-by-fid
      operationId: fetch-verifications-by-fid
      parameters:
      - description: The FID being requested
        example: 616
        explode: true
        in: query
        name: fid
        required: true
        schema:
          type: integer
        style: form
      - description: The optional ETH address to filter by
        explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/paginationReverse'
      - $ref: '#/components/parameters/pageToken'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fetch_verifications_by_fid_200_response'
          description: The requested Verifications.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: Provided by an FID
      tags:
      - Verifications
      x-codegen-request-body-name: body
  /v1/onChainIdRegistryEventByAddress:
    get:
      description: Fetch an on-chain ID Registry Event for a given Address.
      externalDocs:
        description: Fetch an on-chain ID Registry Event for a given Address
        url: https://docs.neynar.com/reference/lookup-on-chain-id-registry-event-by-address
      operationId: lookup-on-chain-id-registry-event-by-address
      parameters:
      - description: The ETH address being requested
        example: 0x6b0bda3f2ffed5efc83fa8c024acff1dd45793f1
        explode: true
        in: query
        name: address
        required: true
        schema:
          pattern: "^0x[0-9a-fA-F]{40}$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnChainEventIdRegister'
          description: A successful response.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: Fetch an on-chain ID Registry Event for a given Address
      tags:
      - OnChainEvents
  /v1/onChainEventsByFid:
    get:
      description: Fetch on-chain events provided by a user.
      externalDocs:
        description: Fetch on-chain events provided by a user
        url: https://docs.neynar.com/reference/fetch-user-on-chain-events
      operationId: fetch-user-on-chain-events
      parameters:
      - description: The FID being requested
        example: 616
        explode: true
        in: query
        name: fid
        required: true
        schema:
          type: integer
        style: form
      - description: The numeric or string value of the event type being requested
        explode: true
        in: query
        name: event_type
        required: true
        schema:
          $ref: '#/components/schemas/OnChainEventType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fetch_user_on_chain_events_200_response'
          description: A successful response.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: Fetch a list of on-chain events provided by an FID
      tags:
      - OnChainEvents
  /v1/onChainSignersByFid:
    get:
      description: "**Note:** one of two different response schemas is returned based\
        \ on whether the caller provides the `signer` parameter. If included, a single\
        \ `OnChainEventSigner` message is returned (or a `not_found` error). If omitted,\
        \ a non-paginated list of `OnChainEventSigner` messages is returned instead."
      externalDocs:
        description: Fetch on-chain signers provided by a user
        url: https://docs.neynar.com/reference/fetch-user-on-chain-signers
      operationId: fetch-user-on-chain-signers-events
      parameters:
      - description: The FID being requested
        example: 616
        explode: true
        in: query
        name: fid
        required: true
        schema:
          type: integer
        style: form
      - description: The optional key of signer
        example: 0x0852c07b5695ff94138b025e3f9b4788e06133f04e254f0ea0eb85a06e999cdd
        explode: true
        in: query
        name: signer
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fetch_user_on_chain_signers_events_200_response'
          description: A successful response.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: Fetch a list of signers provided by an FID
      tags:
      - OnChainEvents
  /v1/submitMessage:
    post:
      description: Submit a message to the Farcaster network.
      externalDocs:
        description: Submit a message to the Farcaster network
        url: https://docs.neynar.com/reference/submit-signed-message
      operationId: publish-message
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
        description: |
          A Message is a delta operation on the Farcaster network. The message protobuf is an envelope that wraps a MessageData object and contains a hash and signature which can verify its authenticity.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
          description: A successful response.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: Submit signed message
      tags:
      - Message
      x-codegen-request-body-name: body
  /v1/validateMessage:
    post:
      description: Validate a message on the Farcaster network.
      externalDocs:
        description: Validate a message on the Farcaster network
        url: https://docs.neynar.com/reference/validate-message
      operationId: validate-message
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
        description: |
          A Message is a delta operation on the Farcaster network. The message protobuf is an envelope that wraps a MessageData object and contains a hash and signature which can verify its authenticity.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateMessageResponse'
          description: A successful response.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: Validate signed message
      tags:
      - Message
      x-codegen-request-body-name: body
  /v1/events:
    get:
      description: Fetch a list of events.
      externalDocs:
        description: Fetch a list of events
        url: https://docs.neynar.com/reference/fetch-events
      operationId: fetch-events
      parameters:
      - description: |
          An optional Hub Id to start getting events from.
          This is also returned from the API as nextPageEventId, which
          can be used to page through all the Hub events. Set it to 0
          to start from the first event.
        example: 0
        explode: true
        in: query
        name: from_event_id
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fetch_events_200_response'
          description: A successful response.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: Page of events
      tags:
      - HubEvents
  /v1/eventById:
    get:
      description: Lookup an event by its ID.
      externalDocs:
        description: Lookup an event by its ID
        url: https://docs.neynar.com/reference/lookup-event
      operationId: lookup-event
      parameters:
      - description: The Hub Id of the event
        explode: true
        in: query
        name: event_id
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HubEvent'
          description: A successful response.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: Event by ID
      tags:
      - HubEvents
components:
  parameters:
    pageSize:
      description: Maximum number of messages to return in a single response
      explode: true
      in: query
      name: pageSize
      required: false
      schema:
        type: integer
      style: form
    paginationReverse:
      description: "Reverse the sort order, returning latest messages first"
      explode: true
      in: query
      name: reverse
      required: false
      schema:
        type: boolean
      style: form
    pageToken:
      description: "The page token returned by the previous query, to fetch the next\
        \ page. If this parameter is empty, fetch the first page"
      explode: true
      in: query
      name: pageToken
      required: false
      schema:
        type: string
      style: form
  responses:
    ErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: An unexpected error response.
  schemas:
    PaginationResponse:
      properties:
        nextPageToken:
          description: Base64-encoded pagination token for fetching the next page
            of results. An empty value indicates there are no more pages to return.
            Used in conjunction with the pageSize parameter to implement pagination
            across large result sets.
          format: byte
          pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
          type: string
      required:
      - nextPageToken
    CastAdd:
      allOf:
      - $ref: '#/components/schemas/MessageCommon'
      - properties:
          data:
            $ref: '#/components/schemas/CastAdd_allOf_data'
        required:
        - data
      example:
        signatureScheme: SIGNATURE_SCHEME_ED25519
        data:
          fid: 0
          castAddBody:
            mentionsPositions:
            - 5
            - 5
            parentUrl: parentUrl
            embedsDeprecated:
            - embedsDeprecated
            - embedsDeprecated
            mentions:
            - 1
            - 1
            text: text
            parentCastId:
              fid: 5
              hash: hash
            embeds:
            - castId:
                fid: 5
                hash: hash
            - castId:
                fid: 5
                hash: hash
          type: MESSAGE_TYPE_CAST_ADD
          timestamp: 6
          network: FARCASTER_NETWORK_MAINNET
        signature: signature
        hashScheme: HASH_SCHEME_BLAKE3
        hash: hash
        signer: signer
    CastAddBody:
      description: Adds a new Cast
      example:
        mentionsPositions:
        - 5
        - 5
        parentUrl: parentUrl
        embedsDeprecated:
        - embedsDeprecated
        - embedsDeprecated
        mentions:
        - 1
        - 1
        text: text
        parentCastId:
          fid: 5
          hash: hash
        embeds:
        - castId:
            fid: 5
            hash: hash
        - castId:
            fid: 5
            hash: hash
      properties:
        embedsDeprecated:
          items:
            type: string
          type: array
        mentions:
          items:
            format: uint64
            type: integer
          type: array
        parentCastId:
          $ref: '#/components/schemas/CastId'
        parentUrl:
          title: Parent URL
          type: string
        text:
          title: Text of the cast
          type: string
        mentionsPositions:
          items:
            format: int64
            type: integer
          type: array
        embeds:
          items:
            $ref: '#/components/schemas/Embed'
          type: array
      required:
      - embeds
      - embedsDeprecated
      - mentions
      - mentionsPositions
      - text
    CastEmbed:
      example:
        castId:
          fid: 5
          hash: hash
      properties:
        castId:
          $ref: '#/components/schemas/CastId'
      required:
      - castId
    CastId:
      description: "A unique identifier for a cast (post) in the Farcaster network,\
        \ consisting of the creator's FID and a hash of the cast's content. This combination\
        \ ensures global uniqueness across all casts."
      example:
        fid: 5
        hash: hash
      properties:
        fid:
          description: The Farcaster ID (FID) of the user who created the cast. Required
            to uniquely identify the cast's author in the network.
          format: uint64
          title: Fid of the user who created the cast
          type: integer
        hash:
          description: A unique hash that identifies a specific cast within the creator's
            posts. Generated using HASH_SCHEME_BLAKE3 of the cast's content.
          pattern: "^0x[0-9a-fA-F]{40}$"
          type: string
      required:
      - fid
      - hash
    CastHash:
      description: A unique hash that identifies a specific cast within the creator's
        posts. Generated using HASH_SCHEME_BLAKE3 of the cast's content.
      pattern: "^0x[0-9a-fA-F]{40}$"
      type: string
    DbStats:
      example:
        numFidEvents: 6
        numMessages: 0
        numFnameEvents: 1
      properties:
        numMessages:
          format: uint64
          type: integer
        numFidEvents:
          format: uint64
          type: integer
        numFnameEvents:
          format: uint64
          type: integer
      required:
      - numFidEvents
      - numFnameEvents
      - numMessages
    Embed:
      oneOf:
      - $ref: '#/components/schemas/CastEmbed'
      - $ref: '#/components/schemas/UrlEmbed'
    ErrorResponse:
      example:
        presentable: true
        metadata:
          errcode:
          - errcode
          - errcode
        code: 5
        errCode: errCode
        name: name
        details: details
      properties:
        errCode:
          type: string
        presentable:
          type: boolean
        name:
          type: string
        code:
          type: integer
        details:
          type: string
        metadata:
          $ref: '#/components/schemas/ErrorResponse_metadata'
      required:
      - code
      - details
      - errCode
      - metadata
      - name
      - presentable
    FarcasterNetwork:
      default: FARCASTER_NETWORK_MAINNET
      description: |-
        Farcaster network the message is intended for.
        - FARCASTER_NETWORK_MAINNET: Public primary network
        - FARCASTER_NETWORK_TESTNET: Public test network
        - FARCASTER_NETWORK_DEVNET: Private test network
      enum:
      - FARCASTER_NETWORK_MAINNET
      - FARCASTER_NETWORK_TESTNET
      - FARCASTER_NETWORK_DEVNET
      type: string
    FidSchema:
      description: |
        Farcaster ID (FID). A unique identifier assigned to each user in the Farcaster network. This number is permanent and cannot be changed. FIDs are assigned sequentially when users register on the network.
      format: uint64
      minimum: 1
      type: integer
    FidsResponse:
      allOf:
      - properties:
          fids:
            items:
              $ref: '#/components/schemas/FidSchema'
            type: array
        required:
        - fids
      - $ref: '#/components/schemas/PaginationResponse'
      example:
        nextPageToken: nextPageToken
        fids:
        - null
        - null
    FrameActionBody:
      description: "Contains the data for a user's interaction with a Farcaster Frame.\
        \ Frames are interactive elements within casts that can have up to 4 clickable\
        \ buttons, allowing users to engage with content in predefined ways."
      properties:
        url:
          description: The URL associated with the frame action. This typically points
            to the frame's content or the destination that handles the interaction.
          format: uri
          type: string
        buttonIndex:
          description: "Identifies which button the user clicked in the frame. Frames\
            \ can have up to 4 buttons, numbered from 1 to 4."
          format: int32
          maximum: 4
          minimum: 1
          title: Button Index
          type: integer
        castId:
          $ref: '#/components/schemas/CastId'
      required:
      - buttonIndex
      - castId
      - url
    HashScheme:
      default: HASH_SCHEME_BLAKE3
      description: |
        Type of hashing scheme used to produce a digest of MessageData. - HASH_SCHEME_BLAKE3: Default scheme for hashing MessageData
      enum:
      - HASH_SCHEME_BLAKE3
      type: string
    HubEvent:
      discriminator:
        mapping:
          HUB_EVENT_TYPE_MERGE_MESSAGE: '#/components/schemas/HubEventMergeMessage'
          HUB_EVENT_TYPE_PRUNE_MESSAGE: '#/components/schemas/HubEventPruneMessage'
          HUB_EVENT_TYPE_REVOKE_MESSAGE: '#/components/schemas/HubEventRevokeMessage'
          HUB_EVENT_TYPE_MERGE_USERNAME_PROOF: '#/components/schemas/HubEventMergeUsernameProof'
          HUB_EVENT_TYPE_MERGE_ON_CHAIN_EVENT: '#/components/schemas/HubEventMergeOnChainEvent'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/HubEventMergeMessage'
      - $ref: '#/components/schemas/HubEventPruneMessage'
      - $ref: '#/components/schemas/HubEventRevokeMessage'
      - $ref: '#/components/schemas/HubEventMergeUsernameProof'
      - $ref: '#/components/schemas/HubEventMergeOnChainEvent'
    HubEventMergeMessage:
      example:
        mergeMessageBody:
          message:
            signatureScheme: SIGNATURE_SCHEME_ED25519
            data:
              fid: 0
              castAddBody:
                mentionsPositions:
                - 5
                - 5
                parentUrl: parentUrl
                embedsDeprecated:
                - embedsDeprecated
                - embedsDeprecated
                mentions:
                - 1
                - 1
                text: text
                parentCastId:
                  fid: 5
                  hash: hash
                embeds:
                - castId:
                    fid: 5
                    hash: hash
                - castId:
                    fid: 5
                    hash: hash
              timestamp: 6
              network: FARCASTER_NETWORK_MAINNET
            signature: signature
            hashScheme: HASH_SCHEME_BLAKE3
            hash: hash
            signer: signer
          deletedMessages:
          - signatureScheme: SIGNATURE_SCHEME_ED25519
            data:
              fid: 0
              castAddBody:
                mentionsPositions:
                - 5
                - 5
                parentUrl: parentUrl
                embedsDeprecated:
                - embedsDeprecated
                - embedsDeprecated
                mentions:
                - 1
                - 1
                text: text
                parentCastId:
                  fid: 5
                  hash: hash
                embeds:
                - castId:
                    fid: 5
                    hash: hash
                - castId:
                    fid: 5
                    hash: hash
              timestamp: 6
              network: FARCASTER_NETWORK_MAINNET
            signature: signature
            hashScheme: HASH_SCHEME_BLAKE3
            hash: hash
            signer: signer
          - signatureScheme: SIGNATURE_SCHEME_ED25519
            data:
              fid: 0
              castAddBody:
                mentionsPositions:
                - 5
                - 5
                parentUrl: parentUrl
                embedsDeprecated:
                - embedsDeprecated
                - embedsDeprecated
                mentions:
                - 1
                - 1
                text: text
                parentCastId:
                  fid: 5
                  hash: hash
                embeds:
                - castId:
                    fid: 5
                    hash: hash
                - castId:
                    fid: 5
                    hash: hash
              timestamp: 6
              network: FARCASTER_NETWORK_MAINNET
            signature: signature
            hashScheme: HASH_SCHEME_BLAKE3
            hash: hash
            signer: signer
        id: 6
        type: type
      properties:
        type:
          type: string
        id:
          format: uint64
          type: integer
        mergeMessageBody:
          $ref: '#/components/schemas/MergeMessageBody'
      required:
      - id
      - mergeMessageBody
      - type
    HubEventMergeOnChainEvent:
      properties:
        type:
          type: string
        id:
          format: uint64
          type: integer
        mergeOnChainEventBody:
          $ref: '#/components/schemas/MergeOnChainEventBody'
      required:
      - id
      - mergeOnChainEventBody
      - type
    HubEventMergeUsernameProof:
      properties:
        type:
          type: string
        id:
          format: uint64
          type: integer
        mergeUsernameProofBody:
          $ref: '#/components/schemas/MergeUserNameProofBody'
      required:
      - id
      - mergeUsernameProofBody
      - type
    HubEventPruneMessage:
      properties:
        type:
          type: string
        id:
          format: uint64
          type: integer
        pruneMessageBody:
          $ref: '#/components/schemas/PruneMessageBody'
      required:
      - id
      - pruneMessageBody
      - type
    HubEventRevokeMessage:
      properties:
        type:
          type: string
        id:
          format: uint64
          type: integer
        revokeMessageBody:
          $ref: '#/components/schemas/RevokeMessageBody'
      required:
      - id
      - revokeMessageBody
      - type
    HubInfoResponse:
      example:
        dbStats:
          numFidEvents: 6
          numMessages: 0
          numFnameEvents: 1
        peerId: peerId
        nickname: nickname
        rootHash: rootHash
        isSyncing: true
        version: version
        hubOperatorFid: 5
      properties:
        version:
          type: string
        isSyncing:
          type: boolean
        nickname:
          type: string
        rootHash:
          type: string
        dbStats:
          $ref: '#/components/schemas/DbStats'
        peerId:
          type: string
        hubOperatorFid:
          format: uint64
          type: integer
      required:
      - hubOperatorFid
      - isSyncing
      - nickname
      - peerId
      - rootHash
      - version
      title: Response Types for the Sync RPC Methods
    IdRegisterEventBody:
      example:
        from: from
        to: to
        eventType: ID_REGISTER_EVENT_TYPE_REGISTER
        recoveryAddress: recoveryAddress
      properties:
        to:
          pattern: "^0x[a-fA-F0-9]*$"
          type: string
        eventType:
          $ref: '#/components/schemas/IdRegisterEventType'
        from:
          pattern: "^0x[a-fA-F0-9]*$|^$"
          type: string
        recoveryAddress:
          pattern: "^0x[a-fA-F0-9]*$"
          type: string
      required:
      - eventType
      - from
      - recoveryAddress
      - to
    IdRegisterEventType:
      default: ID_REGISTER_EVENT_TYPE_REGISTER
      enum:
      - ID_REGISTER_EVENT_TYPE_REGISTER
      - ID_REGISTER_EVENT_TYPE_TRANSFER
      - ID_REGISTER_EVENT_TYPE_CHANGE_RECOVERY
      type: string
    LinkAdd:
      allOf:
      - $ref: '#/components/schemas/MessageCommon'
      - properties:
          data:
            $ref: '#/components/schemas/LinkAdd_allOf_data'
        required:
        - data
      example:
        signatureScheme: SIGNATURE_SCHEME_ED25519
        data:
          fid: 0
          linkBody:
            targetFid: 1
            type: follow
            displayTimestamp: 1
          type: MESSAGE_TYPE_CAST_ADD
          timestamp: 6
          network: FARCASTER_NETWORK_MAINNET
        signature: signature
        hashScheme: HASH_SCHEME_BLAKE3
        hash: hash
        signer: signer
    LinkBody:
      description: "Defines a social connection between users in the Farcaster network.\
        \ Currently used to establish following relationships, allowing users to curate\
        \ their content feed."
      example:
        targetFid: 1
        type: follow
        displayTimestamp: 1
      properties:
        type:
          $ref: '#/components/schemas/LinkType'
        displayTimestamp:
          description: User-defined timestamp that preserves the original creation
            time when message.data.timestamp needs to be updated for compaction. Useful
            for maintaining chronological order in user feeds.
          format: int64
          title: Original Timestamp
          type: integer
        targetFid:
          description: |
            Farcaster ID (FID). A unique identifier assigned to each user in the Farcaster network. This number is permanent and cannot be changed. FIDs are assigned sequentially when users register on the network.
          format: uint64
          minimum: 1
          type: integer
      required:
      - targetFid
      - type
    LinkType:
      default: follow
      description: |-
        Defines the type of social connection between users.
        - follow: Establishes a following relationship where the user will receive updates from the target user in their feed
      enum:
      - follow
      type: string
    MergeMessageBody:
      example:
        message:
          signatureScheme: SIGNATURE_SCHEME_ED25519
          data:
            fid: 0
            castAddBody:
              mentionsPositions:
              - 5
              - 5
              parentUrl: parentUrl
              embedsDeprecated:
              - embedsDeprecated
              - embedsDeprecated
              mentions:
              - 1
              - 1
              text: text
              parentCastId:
                fid: 5
                hash: hash
              embeds:
              - castId:
                  fid: 5
                  hash: hash
              - castId:
                  fid: 5
                  hash: hash
            timestamp: 6
            network: FARCASTER_NETWORK_MAINNET
          signature: signature
          hashScheme: HASH_SCHEME_BLAKE3
          hash: hash
          signer: signer
        deletedMessages:
        - signatureScheme: SIGNATURE_SCHEME_ED25519
          data:
            fid: 0
            castAddBody:
              mentionsPositions:
              - 5
              - 5
              parentUrl: parentUrl
              embedsDeprecated:
              - embedsDeprecated
              - embedsDeprecated
              mentions:
              - 1
              - 1
              text: text
              parentCastId:
                fid: 5
                hash: hash
              embeds:
              - castId:
                  fid: 5
                  hash: hash
              - castId:
                  fid: 5
                  hash: hash
            timestamp: 6
            network: FARCASTER_NETWORK_MAINNET
          signature: signature
          hashScheme: HASH_SCHEME_BLAKE3
          hash: hash
          signer: signer
        - signatureScheme: SIGNATURE_SCHEME_ED25519
          data:
            fid: 0
            castAddBody:
              mentionsPositions:
              - 5
              - 5
              parentUrl: parentUrl
              embedsDeprecated:
              - embedsDeprecated
              - embedsDeprecated
              mentions:
              - 1
              - 1
              text: text
              parentCastId:
                fid: 5
                hash: hash
              embeds:
              - castId:
                  fid: 5
                  hash: hash
              - castId:
                  fid: 5
                  hash: hash
            timestamp: 6
            network: FARCASTER_NETWORK_MAINNET
          signature: signature
          hashScheme: HASH_SCHEME_BLAKE3
          hash: hash
          signer: signer
      properties:
        message:
          $ref: '#/components/schemas/Message'
        deletedMessages:
          items:
            $ref: '#/components/schemas/Message'
          type: array
      required:
      - deletedMessages
      - message
    MergeOnChainEventBody:
      properties:
        onChainEvent:
          $ref: '#/components/schemas/OnChainEvent'
      required:
      - onChainEvent
    MergeUserNameProofBody:
      properties:
        usernameProof:
          $ref: '#/components/schemas/UserNameProof'
        deletedUsernameProof:
          $ref: '#/components/schemas/UserNameProof'
        usernameProofMessage:
          $ref: '#/components/schemas/Message'
        deletedUsernameProofMessage:
          $ref: '#/components/schemas/Message'
    Message:
      allOf:
      - properties:
          data:
            $ref: '#/components/schemas/Message_allOf_data'
        required:
        - data
      - $ref: '#/components/schemas/MessageCommon'
      description: |-
        A Message is a delta operation on the Farcaster network that represents a state change. Messages are the fundamental unit of data in Farcaster and can represent various actions like:
        - Creating or removing casts (posts)
        - Adding or removing reactions
        - Following or unfollowing users
        - Updating profile data
        - Verifying Ethereum addresses

        Each message contains:
        - A MessageData object with the actual content
        - A hash of the content for integrity verification
        - A cryptographic signature to prove authenticity
        - The signer's public key for verification

        Messages are immutable once created and form an append-only log of all user actions on the network.
      example:
        signatureScheme: SIGNATURE_SCHEME_ED25519
        data:
          fid: 0
          castAddBody:
            mentionsPositions:
            - 5
            - 5
            parentUrl: parentUrl
            embedsDeprecated:
            - embedsDeprecated
            - embedsDeprecated
            mentions:
            - 1
            - 1
            text: text
            parentCastId:
              fid: 5
              hash: hash
            embeds:
            - castId:
                fid: 5
                hash: hash
            - castId:
                fid: 5
                hash: hash
          timestamp: 6
          network: FARCASTER_NETWORK_MAINNET
        signature: signature
        hashScheme: HASH_SCHEME_BLAKE3
        hash: hash
        signer: signer
    MessageCommon:
      properties:
        hash:
          pattern: "^0x[0-9a-fA-F]{40}$"
          title: Hash digest of data
          type: string
        hashScheme:
          $ref: '#/components/schemas/HashScheme'
        signature:
          format: byte
          pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
          title: Signature of the hash digest
          type: string
        signatureScheme:
          $ref: '#/components/schemas/SignatureScheme'
        signer:
          pattern: "^0x[0-9a-fA-F]+$"
          title: Public key or address of the key pair that produced the signature
          type: string
      required:
      - hash
      - hashScheme
      - signature
      - signatureScheme
      - signer
    MessageDataCastAdd:
      allOf:
      - $ref: '#/components/schemas/MessageDataCommon'
      - properties:
          castAddBody:
            $ref: '#/components/schemas/CastAddBody'
        required:
        - castAddBody
      description: "Represents a new cast (post) being created in the Farcaster network.\
        \ A cast can include text content, mentions of other users, embedded URLs,\
        \ and references to parent posts for replies."
      example:
        fid: 0
        castAddBody:
          mentionsPositions:
          - 5
          - 5
          parentUrl: parentUrl
          embedsDeprecated:
          - embedsDeprecated
          - embedsDeprecated
          mentions:
          - 1
          - 1
          text: text
          parentCastId:
            fid: 5
            hash: hash
          embeds:
          - castId:
              fid: 5
              hash: hash
          - castId:
              fid: 5
              hash: hash
        timestamp: 6
        network: FARCASTER_NETWORK_MAINNET
    MessageDataCastRemove:
      allOf:
      - $ref: '#/components/schemas/MessageDataCommon'
      - properties:
          targetHash:
            description: The unique hash identifier of the cast to be removed. Must
              be a cast that was previously created by the same FID specified in the
              message.
            pattern: "^0x[0-9a-fA-F]{40}$"
            title: Hash of the cast to remove
            type: string
        required:
        - targetHash
      description: Represents a request to remove (delete) a previously created cast.
        Only the original creator of a cast can remove it.
    MessageDataCommon:
      description: "Common properties shared by all Farcaster message types. These\
        \ properties provide essential metadata about the message's origin, timing,\
        \ and network context."
      properties:
        fid:
          description: The unique identifier (FID) of the user who created this message.
            FIDs are assigned sequentially when users register on the network and
            cannot be changed.
          format: uint64
          title: Farcaster ID of the user producing the message
          type: integer
        timestamp:
          description: Seconds since Farcaster Epoch (2021-01-01T00:00:00Z). Used
            to order messages chronologically and determine the most recent state.
            Must be within 10 minutes of the current time when the message is created.
          format: int64
          type: integer
        network:
          $ref: '#/components/schemas/FarcasterNetwork'
      required:
      - fid
      - network
      - timestamp
    MessageDataFrameAction:
      allOf:
      - $ref: '#/components/schemas/MessageDataCommon'
      - properties:
          frameActionBody:
            $ref: '#/components/schemas/FrameActionBody'
        required:
        - frameActionBody
      description: "Represents a user's interaction with a Farcaster Frame, which\
        \ is an interactive element embedded within a cast. Frames allow users to\
        \ engage with content through clickable buttons, creating interactive experiences\
        \ within the Farcaster network."
    MessageDataLink:
      allOf:
      - $ref: '#/components/schemas/MessageDataCommon'
      - properties:
          linkBody:
            $ref: '#/components/schemas/LinkBody'
        required:
        - linkBody
      description: Represents a social graph connection between users in the Farcaster
        network. Currently supports following relationships between users.
    MessageDataReaction:
      allOf:
      - $ref: '#/components/schemas/MessageDataCommon'
      - properties:
          reactionBody:
            $ref: '#/components/schemas/ReactionBody'
        required:
        - reactionBody
      description: "Represents a user's reaction to content on the Farcaster network.\
        \ Reactions can be likes or recasts of casts, allowing users to express appreciation\
        \ or share content with their followers."
    MessageDataUserDataAdd:
      allOf:
      - $ref: '#/components/schemas/MessageDataCommon'
      - properties:
          userDataBody:
            $ref: '#/components/schemas/UserDataBody'
        required:
        - userDataBody
      description: "Represents a message that updates a user's profile metadata. This\
        \ can include changes to profile picture, display name, bio, URL, or preferred\
        \ username. Each update modifies a single profile field."
    MessageDataUsernameProof:
      allOf:
      - $ref: '#/components/schemas/MessageDataCommon'
      - properties:
          usernameProofBody:
            $ref: '#/components/schemas/UserNameProof'
        required:
        - usernameProofBody
    MessageDataVerificationAdd:
      allOf:
      - $ref: '#/components/schemas/MessageDataCommon'
      - properties:
          verificationAddEthAddressBody:
            $ref: '#/components/schemas/VerificationAddEthAddressBody'
        required:
        - verificationAddEthAddressBody
      description: Represents a message that adds verification of ownership for an
        Ethereum or Solana address to a user's profile. This verification proves that
        the user controls the specified blockchain address.
    MessageDataVerificationRemove:
      allOf:
      - $ref: '#/components/schemas/MessageDataCommon'
      - properties:
          verificationRemoveBody:
            $ref: '#/components/schemas/VerificationRemoveBody'
        required:
        - verificationRemoveBody
      description: Represents a message that removes an existing blockchain address
        verification from a user's profile. This allows users to disassociate previously
        verified addresses from their account.
    MessageType:
      default: MESSAGE_TYPE_CAST_ADD
      description: |-
        Type of the MessageBody.
        - MESSAGE_TYPE_CAST_ADD: Add a new Cast
        - MESSAGE_TYPE_CAST_REMOVE: Remove an existing Cast
        - MESSAGE_TYPE_REACTION_ADD: Add a Reaction to a Cast
        - MESSAGE_TYPE_REACTION_REMOVE: Remove a Reaction from a Cast
        - MESSAGE_TYPE_LINK_ADD: Add a new Link
        - MESSAGE_TYPE_LINK_REMOVE: Remove an existing Link
        - MESSAGE_TYPE_VERIFICATION_ADD_ETH_ADDRESS: Add a Verification of an Ethereum Address
        - MESSAGE_TYPE_VERIFICATION_REMOVE: Remove a Verification
        - MESSAGE_TYPE_USER_DATA_ADD: Add metadata about a user
        - MESSAGE_TYPE_USERNAME_PROOF: Add or replace a username proof
        - MESSAGE_TYPE_FRAME_ACTION: A Farcaster Frame action
      enum:
      - MESSAGE_TYPE_CAST_ADD
      - MESSAGE_TYPE_CAST_REMOVE
      - MESSAGE_TYPE_REACTION_ADD
      - MESSAGE_TYPE_REACTION_REMOVE
      - MESSAGE_TYPE_LINK_ADD
      - MESSAGE_TYPE_LINK_REMOVE
      - MESSAGE_TYPE_VERIFICATION_ADD_ETH_ADDRESS
      - MESSAGE_TYPE_VERIFICATION_REMOVE
      - MESSAGE_TYPE_USER_DATA_ADD
      - MESSAGE_TYPE_USERNAME_PROOF
      - MESSAGE_TYPE_FRAME_ACTION
      type: string
    OnChainEvent:
      discriminator:
        mapping:
          EVENT_TYPE_SIGNER: '#/components/schemas/OnChainEventSigner'
          EVENT_TYPE_SIGNER_MIGRATED: '#/components/schemas/OnChainEventSignerMigrated'
          EVENT_TYPE_ID_REGISTER: '#/components/schemas/OnChainEventIdRegister'
          EVENT_TYPE_STORAGE_RENT: '#/components/schemas/OnChainEventStorageRent'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/OnChainEventSigner'
      - $ref: '#/components/schemas/OnChainEventSignerMigrated'
      - $ref: '#/components/schemas/OnChainEventIdRegister'
      - $ref: '#/components/schemas/OnChainEventStorageRent'
    OnChainEventCommon:
      properties:
        type:
          type: string
        chainId:
          type: integer
        blockNumber:
          type: integer
        blockHash:
          type: string
        blockTimestamp:
          type: integer
        transactionHash:
          type: string
        logIndex:
          type: integer
        txIndex:
          type: integer
        fid:
          type: integer
      required:
      - blockHash
      - blockNumber
      - blockTimestamp
      - chainId
      - fid
      - logIndex
      - transactionHash
      - txIndex
      - type
    OnChainEventIdRegister:
      allOf:
      - $ref: '#/components/schemas/OnChainEventCommon'
      - properties:
          idRegisterEventBody:
            $ref: '#/components/schemas/IdRegisterEventBody'
        required:
        - idRegisterEventBody
      example:
        fid: 2
        blockHash: blockHash
        logIndex: 5
        chainId: 0
        blockNumber: 6
        idRegisterEventBody:
          from: from
          to: to
          eventType: ID_REGISTER_EVENT_TYPE_REGISTER
          recoveryAddress: recoveryAddress
        blockTimestamp: 1
        type: type
        transactionHash: transactionHash
        txIndex: 5
    OnChainEventSigner:
      allOf:
      - $ref: '#/components/schemas/OnChainEventCommon'
      - properties:
          signerEventBody:
            $ref: '#/components/schemas/SignerEventBody'
        required:
        - signerEventBody
      example:
        fid: 2
        blockHash: blockHash
        logIndex: 5
        chainId: 0
        blockNumber: 6
        blockTimestamp: 1
        type: type
        transactionHash: transactionHash
        txIndex: 5
        signerEventBody:
          metadata: metadata
          eventType: SIGNER_EVENT_TYPE_ADD
          keyType: 7
          key: key
          metadataType: 9
    OnChainEventSignerMigrated:
      allOf:
      - $ref: '#/components/schemas/OnChainEventCommon'
      - properties:
          signerMigratedEventBody:
            $ref: '#/components/schemas/SignerMigratedEventBody'
        required:
        - signerMigratedEventBody
    OnChainEventStorageRent:
      allOf:
      - $ref: '#/components/schemas/OnChainEventCommon'
      - properties:
          storageRentEventBody:
            $ref: '#/components/schemas/StorageRentEventBody'
        required:
        - storageRentEventBody
    OnChainEventType:
      default: EVENT_TYPE_SIGNER
      enum:
      - EVENT_TYPE_SIGNER
      - EVENT_TYPE_SIGNER_MIGRATED
      - EVENT_TYPE_ID_REGISTER
      - EVENT_TYPE_STORAGE_RENT
      type: string
    PruneMessageBody:
      properties:
        message:
          $ref: '#/components/schemas/Message'
      required:
      - message
    Reaction:
      allOf:
      - $ref: '#/components/schemas/MessageCommon'
      - properties:
          data:
            $ref: '#/components/schemas/Reaction_allOf_data'
        required:
        - data
      example:
        signatureScheme: SIGNATURE_SCHEME_ED25519
        data:
          fid: 0
          reactionBody:
            targetCastId:
              fid: 5
              hash: hash
            type: Like
            targetUrl: targetUrl
          type: MESSAGE_TYPE_CAST_ADD
          timestamp: 6
          network: FARCASTER_NETWORK_MAINNET
        signature: signature
        hashScheme: HASH_SCHEME_BLAKE3
        hash: hash
        signer: signer
    ReactionBody:
      description: Specifies the details of a reaction to content on Farcaster. A
        reaction must specify its type (like/recast) and either a target cast ID or
        URL to react to. Only one target (either castId or URL) should be specified
        per reaction.
      example:
        targetCastId:
          fid: 5
          hash: hash
        type: Like
        targetUrl: targetUrl
      properties:
        type:
          $ref: '#/components/schemas/ReactionType'
        targetCastId:
          $ref: '#/components/schemas/CastId'
        targetUrl:
          description: The URL being reacted to. Used when reacting to external content
            or when the cast ID is not available.
          title: URL to react to
          type: string
      required:
      - type
    ReactionType:
      default: Like
      description: |-
        Type of interaction a user can have with content on the Farcaster network.
        - Like: Express appreciation for the target content. Similar to "likes" or "favorites" on other platforms.
        - Recast: Share the target content with the user's followers, similar to a "retweet" or "reblog". Helps increase content visibility.
      enum:
      - Like
      - Recast
      type: string
    RevokeMessageBody:
      properties:
        message:
          $ref: '#/components/schemas/Message'
      required:
      - message
    SignatureScheme:
      default: SIGNATURE_SCHEME_ED25519
      description: |-
        Type of signature scheme used to sign the Message hash
        - SIGNATURE_SCHEME_ED25519: Ed25519 signature (default)
        - SIGNATURE_SCHEME_EIP712: ECDSA signature using EIP-712 scheme
      enum:
      - SIGNATURE_SCHEME_ED25519
      - SIGNATURE_SCHEME_EIP712
      type: string
    SignerEventBody:
      example:
        metadata: metadata
        eventType: SIGNER_EVENT_TYPE_ADD
        keyType: 7
        key: key
        metadataType: 9
      properties:
        key:
          pattern: "^0x[a-fA-F0-9]{64}$"
          type: string
        keyType:
          format: int64
          type: integer
        eventType:
          $ref: '#/components/schemas/SignerEventType'
        metadata:
          format: byte
          pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
          type: string
        metadataType:
          format: int64
          type: integer
      required:
      - eventType
      - key
      - keyType
      - metadata
      - metadataType
    SignerEventType:
      default: SIGNER_EVENT_TYPE_ADD
      enum:
      - SIGNER_EVENT_TYPE_ADD
      - SIGNER_EVENT_TYPE_REMOVE
      - SIGNER_EVENT_TYPE_ADMIN_RESET
      type: string
    SignerMigratedEventBody:
      properties:
        migratedAt:
          format: int64
          type: integer
      required:
      - migratedAt
    StorageLimit:
      example:
        storeType: STORE_TYPE_CASTS
        limit: 0
      properties:
        storeType:
          $ref: '#/components/schemas/StoreType'
        limit:
          format: uint64
          type: integer
      required:
      - limit
      - storeType
    StorageLimitsResponse:
      example:
        limits:
        - storeType: STORE_TYPE_CASTS
          limit: 0
        - storeType: STORE_TYPE_CASTS
          limit: 0
      properties:
        limits:
          items:
            $ref: '#/components/schemas/StorageLimit'
          type: array
      required:
      - limits
    StorageRentEventBody:
      properties:
        payer:
          format: byte
          pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
          type: string
        units:
          format: int64
          type: integer
        expiry:
          format: int64
          type: integer
      required:
      - expiry
      - payer
      - units
    StoreType:
      default: STORE_TYPE_CASTS
      enum:
      - STORE_TYPE_CASTS
      - STORE_TYPE_LINKS
      - STORE_TYPE_REACTIONS
      - STORE_TYPE_USER_DATA
      - STORE_TYPE_VERIFICATIONS
      - STORE_TYPE_USERNAME_PROOFS
      type: string
    UrlEmbed:
      properties:
        url:
          format: uri
          type: string
      required:
      - url
    UserDataAdd:
      allOf:
      - $ref: '#/components/schemas/MessageCommon'
      - properties:
          data:
            $ref: '#/components/schemas/UserDataAdd_allOf_data'
        required:
        - data
      example:
        signatureScheme: SIGNATURE_SCHEME_ED25519
        data:
          fid: 0
          userDataBody:
            type: USER_DATA_TYPE_PFP
            value: value
          type: MESSAGE_TYPE_CAST_ADD
          timestamp: 6
          network: FARCASTER_NETWORK_MAINNET
        signature: signature
        hashScheme: HASH_SCHEME_BLAKE3
        hash: hash
        signer: signer
    UserDataBody:
      description: "Contains the data for updating a specific field of a user's profile\
        \ metadata. Each update operation modifies one profile field at a time, allowing\
        \ granular control over profile information."
      example:
        type: USER_DATA_TYPE_PFP
        value: value
      properties:
        type:
          $ref: '#/components/schemas/UserDataType'
        value:
          description: "The new value for the specified profile field. The format\
            \ depends on the type: URLs for profile pictures, plain text for display\
            \ names and bios, etc."
          title: Profile Field Value
          type: string
      required:
      - type
      - value
    UserDataType:
      default: USER_DATA_TYPE_PFP
      description: |-
        Specifies which field of a user's profile is being updated.
        - USER_DATA_TYPE_PFP: Profile Picture URL for the user's avatar
        - USER_DATA_TYPE_DISPLAY: Display Name shown on the user's profile
        - USER_DATA_TYPE_BIO: Biography or description of the user
        - USER_DATA_TYPE_URL: Website or social media link for the user
        - USER_DATA_TYPE_USERNAME: Preferred username for the user
      enum:
      - USER_DATA_TYPE_PFP
      - USER_DATA_TYPE_DISPLAY
      - USER_DATA_TYPE_BIO
      - USER_DATA_TYPE_URL
      - USER_DATA_TYPE_USERNAME
      type: string
    UserNameProof:
      example:
        owner: owner
        fid: 1
        signature: signature
        name: name
        type: USERNAME_TYPE_FNAME
        timestamp: 0
      properties:
        timestamp:
          description: "Seconds since Unix Epoch which began on Jan 1, 1970 00:00:00\
            \ UTC"
          format: uint64
          type: integer
        name:
          type: string
        owner:
          pattern: "^0x[0-9a-fA-F]{40}$"
          type: string
        signature:
          format: byte
          pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
          type: string
        fid:
          description: |
            Farcaster ID (FID). A unique identifier assigned to each user in the Farcaster network. This number is permanent and cannot be changed. FIDs are assigned sequentially when users register on the network.
          format: uint64
          minimum: 1
          type: integer
        type:
          $ref: '#/components/schemas/UserNameType'
      required:
      - fid
      - name
      - owner
      - signature
      - timestamp
      - type
    UsernameProofsResponse:
      example:
        proofs:
        - owner: owner
          fid: 1
          signature: signature
          name: name
          type: USERNAME_TYPE_FNAME
          timestamp: 0
        - owner: owner
          fid: 1
          signature: signature
          name: name
          type: USERNAME_TYPE_FNAME
          timestamp: 0
      properties:
        proofs:
          items:
            $ref: '#/components/schemas/UserNameProof'
          type: array
      required:
      - proofs
    UserNameType:
      default: USERNAME_TYPE_FNAME
      enum:
      - USERNAME_TYPE_FNAME
      - USERNAME_TYPE_ENS_L1
      type: string
    ValidateMessageResponse:
      example:
        valid: true
        message:
          signatureScheme: SIGNATURE_SCHEME_ED25519
          data:
            fid: 0
            castAddBody:
              mentionsPositions:
              - 5
              - 5
              parentUrl: parentUrl
              embedsDeprecated:
              - embedsDeprecated
              - embedsDeprecated
              mentions:
              - 1
              - 1
              text: text
              parentCastId:
                fid: 5
                hash: hash
              embeds:
              - castId:
                  fid: 5
                  hash: hash
              - castId:
                  fid: 5
                  hash: hash
            timestamp: 6
            network: FARCASTER_NETWORK_MAINNET
          signature: signature
          hashScheme: HASH_SCHEME_BLAKE3
          hash: hash
          signer: signer
      properties:
        valid:
          type: boolean
        message:
          $ref: '#/components/schemas/Message'
      required:
      - message
      - valid
    Verification:
      allOf:
      - $ref: '#/components/schemas/MessageCommon'
      - properties:
          data:
            $ref: '#/components/schemas/Verification_allOf_data'
        required:
        - data
      example:
        signatureScheme: SIGNATURE_SCHEME_ED25519
        data:
          fid: 0
          verificationAddEthAddressBody:
            blockHash: blockHash
            address: address
            ethSignature: ethSignature
          type: MESSAGE_TYPE_CAST_ADD
          timestamp: 6
          network: FARCASTER_NETWORK_MAINNET
        signature: signature
        hashScheme: HASH_SCHEME_BLAKE3
        hash: hash
        signer: signer
    VerificationAddEthAddressBody:
      description: Contains the data required to verify ownership of an Ethereum or
        Solana address. The verification process requires a cryptographic signature
        from the blockchain address and includes the block hash at the time of signing
        for timestamp verification.
      example:
        blockHash: blockHash
        address: address
        ethSignature: ethSignature
      properties:
        address:
          description: The Ethereum (0x-prefixed) or Solana address that the user
            is claiming ownership of. Must match the address that produced the signature.
          pattern: "^(?:0x[a-fA-F0-9]{40}|[1-9A-HJ-NP-Za-km-z]{32,44})$"
          title: Blockchain Address
          type: string
        ethSignature:
          description: "Base64-encoded signature produced by the blockchain address,\
            \ proving ownership. For Ethereum, this is an ECDSA signature of a specific\
            \ message format."
          format: byte
          pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
          title: Cryptographic Signature
          type: string
        blockHash:
          description: The hash of the most recent block when the signature was created.
            Used to verify the approximate time of signature creation.
          pattern: "^(0x[a-fA-F0-9]{64}|[1-9A-HJ-NP-Za-km-z]{44})$"
          title: Block Hash
          type: string
      required:
      - address
      - blockHash
      - ethSignature
    VerificationRemoveBody:
      description: Contains the data required to remove a previously added blockchain
        address verification from a user's profile. This operation permanently removes
        the verification until explicitly re-added.
      properties:
        address:
          description: The Ethereum address (0x-prefixed) for which the verification
            should be removed. Must match a previously verified address in the user's
            profile.
          pattern: "^0x[A-Za-z0-9]{40}$"
          title: Blockchain Address
          type: string
      required:
      - address
    fetch_users_casts_200_response:
      allOf:
      - properties:
          messages:
            items:
              $ref: '#/components/schemas/CastAdd'
            type: array
        required:
        - messages
      - $ref: '#/components/schemas/PaginationResponse'
      example:
        nextPageToken: nextPageToken
        messages:
        - signatureScheme: SIGNATURE_SCHEME_ED25519
          data:
            fid: 0
            castAddBody:
              mentionsPositions:
              - 5
              - 5
              parentUrl: parentUrl
              embedsDeprecated:
              - embedsDeprecated
              - embedsDeprecated
              mentions:
              - 1
              - 1
              text: text
              parentCastId:
                fid: 5
                hash: hash
              embeds:
              - castId:
                  fid: 5
                  hash: hash
              - castId:
                  fid: 5
                  hash: hash
            type: MESSAGE_TYPE_CAST_ADD
            timestamp: 6
            network: FARCASTER_NETWORK_MAINNET
          signature: signature
          hashScheme: HASH_SCHEME_BLAKE3
          hash: hash
          signer: signer
        - signatureScheme: SIGNATURE_SCHEME_ED25519
          data:
            fid: 0
            castAddBody:
              mentionsPositions:
              - 5
              - 5
              parentUrl: parentUrl
              embedsDeprecated:
              - embedsDeprecated
              - embedsDeprecated
              mentions:
              - 1
              - 1
              text: text
              parentCastId:
                fid: 5
                hash: hash
              embeds:
              - castId:
                  fid: 5
                  hash: hash
              - castId:
                  fid: 5
                  hash: hash
            type: MESSAGE_TYPE_CAST_ADD
            timestamp: 6
            network: FARCASTER_NETWORK_MAINNET
          signature: signature
          hashScheme: HASH_SCHEME_BLAKE3
          hash: hash
          signer: signer
    fetch_casts_by_parent_200_response:
      allOf:
      - properties:
          messages:
            description: "An array of reply casts to the specified parent cast, ordered\
              \ by oldest first. Each cast includes its content, timestamp, and other\
              \ metadata."
            items:
              $ref: '#/components/schemas/CastAdd'
            type: array
        required:
        - messages
      - $ref: '#/components/schemas/PaginationResponse'
      example:
        nextPageToken: nextPageToken
        messages:
        - signatureScheme: SIGNATURE_SCHEME_ED25519
          data:
            fid: 0
            castAddBody:
              mentionsPositions:
              - 5
              - 5
              parentUrl: parentUrl
              embedsDeprecated:
              - embedsDeprecated
              - embedsDeprecated
              mentions:
              - 1
              - 1
              text: text
              parentCastId:
                fid: 5
                hash: hash
              embeds:
              - castId:
                  fid: 5
                  hash: hash
              - castId:
                  fid: 5
                  hash: hash
            type: MESSAGE_TYPE_CAST_ADD
            timestamp: 6
            network: FARCASTER_NETWORK_MAINNET
          signature: signature
          hashScheme: HASH_SCHEME_BLAKE3
          hash: hash
          signer: signer
        - signatureScheme: SIGNATURE_SCHEME_ED25519
          data:
            fid: 0
            castAddBody:
              mentionsPositions:
              - 5
              - 5
              parentUrl: parentUrl
              embedsDeprecated:
              - embedsDeprecated
              - embedsDeprecated
              mentions:
              - 1
              - 1
              text: text
              parentCastId:
                fid: 5
                hash: hash
              embeds:
              - castId:
                  fid: 5
                  hash: hash
              - castId:
                  fid: 5
                  hash: hash
            type: MESSAGE_TYPE_CAST_ADD
            timestamp: 6
            network: FARCASTER_NETWORK_MAINNET
          signature: signature
          hashScheme: HASH_SCHEME_BLAKE3
          hash: hash
          signer: signer
    fetch_cast_reactions_200_response:
      allOf:
      - properties:
          messages:
            items:
              $ref: '#/components/schemas/Reaction'
            type: array
        required:
        - messages
      - $ref: '#/components/schemas/PaginationResponse'
      example:
        nextPageToken: nextPageToken
        messages:
        - signatureScheme: SIGNATURE_SCHEME_ED25519
          data:
            fid: 0
            reactionBody:
              targetCastId:
                fid: 5
                hash: hash
              type: Like
              targetUrl: targetUrl
            type: MESSAGE_TYPE_CAST_ADD
            timestamp: 6
            network: FARCASTER_NETWORK_MAINNET
          signature: signature
          hashScheme: HASH_SCHEME_BLAKE3
          hash: hash
          signer: signer
        - signatureScheme: SIGNATURE_SCHEME_ED25519
          data:
            fid: 0
            reactionBody:
              targetCastId:
                fid: 5
                hash: hash
              type: Like
              targetUrl: targetUrl
            type: MESSAGE_TYPE_CAST_ADD
            timestamp: 6
            network: FARCASTER_NETWORK_MAINNET
          signature: signature
          hashScheme: HASH_SCHEME_BLAKE3
          hash: hash
          signer: signer
    fetch_user_following_200_response:
      allOf:
      - properties:
          messages:
            items:
              $ref: '#/components/schemas/LinkAdd'
            type: array
        required:
        - messages
      - $ref: '#/components/schemas/PaginationResponse'
      example:
        nextPageToken: nextPageToken
        messages:
        - signatureScheme: SIGNATURE_SCHEME_ED25519
          data:
            fid: 0
            linkBody:
              targetFid: 1
              type: follow
              displayTimestamp: 1
            type: MESSAGE_TYPE_CAST_ADD
            timestamp: 6
            network: FARCASTER_NETWORK_MAINNET
          signature: signature
          hashScheme: HASH_SCHEME_BLAKE3
          hash: hash
          signer: signer
        - signatureScheme: SIGNATURE_SCHEME_ED25519
          data:
            fid: 0
            linkBody:
              targetFid: 1
              type: follow
              displayTimestamp: 1
            type: MESSAGE_TYPE_CAST_ADD
            timestamp: 6
            network: FARCASTER_NETWORK_MAINNET
          signature: signature
          hashScheme: HASH_SCHEME_BLAKE3
          hash: hash
          signer: signer
    fetch_user_data_200_response_oneOf:
      allOf:
      - properties:
          messages:
            items:
              $ref: '#/components/schemas/UserDataAdd'
            type: array
        required:
        - messages
      - $ref: '#/components/schemas/PaginationResponse'
    fetch_user_data_200_response:
      oneOf:
      - $ref: '#/components/schemas/UserDataAdd'
      - $ref: '#/components/schemas/fetch_user_data_200_response_oneOf'
    fetch_verifications_by_fid_200_response:
      example:
        nextPageToken: nextPageToken
        messages:
        - signatureScheme: SIGNATURE_SCHEME_ED25519
          data:
            fid: 0
            verificationAddEthAddressBody:
              blockHash: blockHash
              address: address
              ethSignature: ethSignature
            type: MESSAGE_TYPE_CAST_ADD
            timestamp: 6
            network: FARCASTER_NETWORK_MAINNET
          signature: signature
          hashScheme: HASH_SCHEME_BLAKE3
          hash: hash
          signer: signer
        - signatureScheme: SIGNATURE_SCHEME_ED25519
          data:
            fid: 0
            verificationAddEthAddressBody:
              blockHash: blockHash
              address: address
              ethSignature: ethSignature
            type: MESSAGE_TYPE_CAST_ADD
            timestamp: 6
            network: FARCASTER_NETWORK_MAINNET
          signature: signature
          hashScheme: HASH_SCHEME_BLAKE3
          hash: hash
          signer: signer
      properties:
        messages:
          items:
            $ref: '#/components/schemas/Verification'
          type: array
        nextPageToken:
          format: byte
          pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
          type: string
      required:
      - messages
      - nextPageToken
    fetch_user_on_chain_events_200_response:
      example:
        events:
        - fid: 2
          blockHash: blockHash
          logIndex: 5
          chainId: 0
          blockNumber: 6
          blockTimestamp: 1
          type: type
          transactionHash: transactionHash
          txIndex: 5
          signerEventBody:
            metadata: metadata
            eventType: SIGNER_EVENT_TYPE_ADD
            keyType: 7
            key: key
            metadataType: 9
        - fid: 2
          blockHash: blockHash
          logIndex: 5
          chainId: 0
          blockNumber: 6
          blockTimestamp: 1
          type: type
          transactionHash: transactionHash
          txIndex: 5
          signerEventBody:
            metadata: metadata
            eventType: SIGNER_EVENT_TYPE_ADD
            keyType: 7
            key: key
            metadataType: 9
      properties:
        events:
          items:
            $ref: '#/components/schemas/OnChainEvent'
          type: array
      required:
      - events
    fetch_user_on_chain_signers_events_200_response_oneOf:
      properties:
        events:
          items:
            $ref: '#/components/schemas/OnChainEventSigner'
          type: array
      required:
      - events
    fetch_user_on_chain_signers_events_200_response:
      oneOf:
      - $ref: '#/components/schemas/OnChainEventSigner'
      - $ref: '#/components/schemas/fetch_user_on_chain_signers_events_200_response_oneOf'
    fetch_events_200_response:
      example:
        nextPageEventId: 0
        events:
        - mergeMessageBody:
            message:
              signatureScheme: SIGNATURE_SCHEME_ED25519
              data:
                fid: 0
                castAddBody:
                  mentionsPositions:
                  - 5
                  - 5
                  parentUrl: parentUrl
                  embedsDeprecated:
                  - embedsDeprecated
                  - embedsDeprecated
                  mentions:
                  - 1
                  - 1
                  text: text
                  parentCastId:
                    fid: 5
                    hash: hash
                  embeds:
                  - castId:
                      fid: 5
                      hash: hash
                  - castId:
                      fid: 5
                      hash: hash
                timestamp: 6
                network: FARCASTER_NETWORK_MAINNET
              signature: signature
              hashScheme: HASH_SCHEME_BLAKE3
              hash: hash
              signer: signer
            deletedMessages:
            - signatureScheme: SIGNATURE_SCHEME_ED25519
              data:
                fid: 0
                castAddBody:
                  mentionsPositions:
                  - 5
                  - 5
                  parentUrl: parentUrl
                  embedsDeprecated:
                  - embedsDeprecated
                  - embedsDeprecated
                  mentions:
                  - 1
                  - 1
                  text: text
                  parentCastId:
                    fid: 5
                    hash: hash
                  embeds:
                  - castId:
                      fid: 5
                      hash: hash
                  - castId:
                      fid: 5
                      hash: hash
                timestamp: 6
                network: FARCASTER_NETWORK_MAINNET
              signature: signature
              hashScheme: HASH_SCHEME_BLAKE3
              hash: hash
              signer: signer
            - signatureScheme: SIGNATURE_SCHEME_ED25519
              data:
                fid: 0
                castAddBody:
                  mentionsPositions:
                  - 5
                  - 5
                  parentUrl: parentUrl
                  embedsDeprecated:
                  - embedsDeprecated
                  - embedsDeprecated
                  mentions:
                  - 1
                  - 1
                  text: text
                  parentCastId:
                    fid: 5
                    hash: hash
                  embeds:
                  - castId:
                      fid: 5
                      hash: hash
                  - castId:
                      fid: 5
                      hash: hash
                timestamp: 6
                network: FARCASTER_NETWORK_MAINNET
              signature: signature
              hashScheme: HASH_SCHEME_BLAKE3
              hash: hash
              signer: signer
          id: 6
          type: type
        - mergeMessageBody:
            message:
              signatureScheme: SIGNATURE_SCHEME_ED25519
              data:
                fid: 0
                castAddBody:
                  mentionsPositions:
                  - 5
                  - 5
                  parentUrl: parentUrl
                  embedsDeprecated:
                  - embedsDeprecated
                  - embedsDeprecated
                  mentions:
                  - 1
                  - 1
                  text: text
                  parentCastId:
                    fid: 5
                    hash: hash
                  embeds:
                  - castId:
                      fid: 5
                      hash: hash
                  - castId:
                      fid: 5
                      hash: hash
                timestamp: 6
                network: FARCASTER_NETWORK_MAINNET
              signature: signature
              hashScheme: HASH_SCHEME_BLAKE3
              hash: hash
              signer: signer
            deletedMessages:
            - signatureScheme: SIGNATURE_SCHEME_ED25519
              data:
                fid: 0
                castAddBody:
                  mentionsPositions:
                  - 5
                  - 5
                  parentUrl: parentUrl
                  embedsDeprecated:
                  - embedsDeprecated
                  - embedsDeprecated
                  mentions:
                  - 1
                  - 1
                  text: text
                  parentCastId:
                    fid: 5
                    hash: hash
                  embeds:
                  - castId:
                      fid: 5
                      hash: hash
                  - castId:
                      fid: 5
                      hash: hash
                timestamp: 6
                network: FARCASTER_NETWORK_MAINNET
              signature: signature
              hashScheme: HASH_SCHEME_BLAKE3
              hash: hash
              signer: signer
            - signatureScheme: SIGNATURE_SCHEME_ED25519
              data:
                fid: 0
                castAddBody:
                  mentionsPositions:
                  - 5
                  - 5
                  parentUrl: parentUrl
                  embedsDeprecated:
                  - embedsDeprecated
                  - embedsDeprecated
                  mentions:
                  - 1
                  - 1
                  text: text
                  parentCastId:
                    fid: 5
                    hash: hash
                  embeds:
                  - castId:
                      fid: 5
                      hash: hash
                  - castId:
                      fid: 5
                      hash: hash
                timestamp: 6
                network: FARCASTER_NETWORK_MAINNET
              signature: signature
              hashScheme: HASH_SCHEME_BLAKE3
              hash: hash
              signer: signer
          id: 6
          type: type
      properties:
        nextPageEventId:
          type: integer
        events:
          items:
            $ref: '#/components/schemas/HubEvent'
          type: array
      required:
      - events
      - nextPageEventId
    CastAdd_allOf_data:
      allOf:
      - $ref: '#/components/schemas/MessageDataCastAdd'
      - properties:
          type:
            $ref: '#/components/schemas/MessageType'
        required:
        - type
      example:
        fid: 0
        castAddBody:
          mentionsPositions:
          - 5
          - 5
          parentUrl: parentUrl
          embedsDeprecated:
          - embedsDeprecated
          - embedsDeprecated
          mentions:
          - 1
          - 1
          text: text
          parentCastId:
            fid: 5
            hash: hash
          embeds:
          - castId:
              fid: 5
              hash: hash
          - castId:
              fid: 5
              hash: hash
        type: MESSAGE_TYPE_CAST_ADD
        timestamp: 6
        network: FARCASTER_NETWORK_MAINNET
    ErrorResponse_metadata:
      example:
        errcode:
        - errcode
        - errcode
      properties:
        errcode:
          items:
            type: string
          type: array
      required:
      - errcode
    LinkAdd_allOf_data:
      allOf:
      - $ref: '#/components/schemas/MessageDataLink'
      - properties:
          type:
            $ref: '#/components/schemas/MessageType'
        required:
        - type
      example:
        fid: 0
        linkBody:
          targetFid: 1
          type: follow
          displayTimestamp: 1
        type: MESSAGE_TYPE_CAST_ADD
        timestamp: 6
        network: FARCASTER_NETWORK_MAINNET
    Message_allOf_data:
      discriminator:
        mapping:
          MESSAGE_TYPE_CAST_ADD: '#/components/schemas/MessageDataCastAdd'
          MESSAGE_TYPE_CAST_REMOVE: '#/components/schemas/MessageDataCastRemove'
          MESSAGE_TYPE_REACTION_ADD: '#/components/schemas/MessageDataReaction'
          MESSAGE_TYPE_REACTION_REMOVE: '#/components/schemas/MessageDataReaction'
          MESSAGE_TYPE_LINK_ADD: '#/components/schemas/MessageDataLink'
          MESSAGE_TYPE_LINK_REMOVE: '#/components/schemas/MessageDataLink'
          MESSAGE_TYPE_VERIFICATION_ADD_ETH_ADDRESS: '#/components/schemas/MessageDataVerificationAdd'
          MESSAGE_TYPE_VERIFICATION_REMOVE: '#/components/schemas/MessageDataVerificationRemove'
          MESSAGE_TYPE_USER_DATA_ADD: '#/components/schemas/MessageDataUserDataAdd'
          MESSAGE_TYPE_USERNAME_PROOF: '#/components/schemas/MessageDataUsernameProof'
          MESSAGE_TYPE_FRAME_ACTION: '#/components/schemas/MessageDataFrameAction'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/MessageDataCastAdd'
      - $ref: '#/components/schemas/MessageDataCastRemove'
      - $ref: '#/components/schemas/MessageDataReaction'
      - $ref: '#/components/schemas/MessageDataLink'
      - $ref: '#/components/schemas/MessageDataVerificationAdd'
      - $ref: '#/components/schemas/MessageDataVerificationRemove'
      - $ref: '#/components/schemas/MessageDataUserDataAdd'
      - $ref: '#/components/schemas/MessageDataUsernameProof'
      - $ref: '#/components/schemas/MessageDataFrameAction'
    Reaction_allOf_data:
      allOf:
      - $ref: '#/components/schemas/MessageDataReaction'
      - properties:
          type:
            $ref: '#/components/schemas/MessageType'
        required:
        - type
      example:
        fid: 0
        reactionBody:
          targetCastId:
            fid: 5
            hash: hash
          type: Like
          targetUrl: targetUrl
        type: MESSAGE_TYPE_CAST_ADD
        timestamp: 6
        network: FARCASTER_NETWORK_MAINNET
    UserDataAdd_allOf_data:
      allOf:
      - $ref: '#/components/schemas/MessageDataUserDataAdd'
      - properties:
          type:
            $ref: '#/components/schemas/MessageType'
        required:
        - type
      example:
        fid: 0
        userDataBody:
          type: USER_DATA_TYPE_PFP
          value: value
        type: MESSAGE_TYPE_CAST_ADD
        timestamp: 6
        network: FARCASTER_NETWORK_MAINNET
    Verification_allOf_data:
      allOf:
      - $ref: '#/components/schemas/MessageDataVerificationAdd'
      - properties:
          type:
            $ref: '#/components/schemas/MessageType'
        required:
        - type
      example:
        fid: 0
        verificationAddEthAddressBody:
          blockHash: blockHash
          address: address
          ethSignature: ethSignature
        type: MESSAGE_TYPE_CAST_ADD
        timestamp: 6
        network: FARCASTER_NETWORK_MAINNET
  securitySchemes:
    ApiKeyAuth:
      description: API key to authorize requests
      in: header
      name: x-api-key
      type: apiKey
      x-default: NEYNAR_API_DOCS
