openapi: 3.0.4
info:
  contact:
    email: team@neynar.com
    name: Neynar
    url: https://neynar.com/
  description: "The Neynar API allows you to interact with the Farcaster protocol\
    \ among other things. See the [Neynar docs](https://docs.neynar.com/reference)\
    \ for more details."
  title: Neynar API
  version: 3.0.1
servers:
- url: https://api.neynar.com
security:
- ApiKeyAuth: []
tags:
- description: Operations related to user
  externalDocs:
    description: More info about user
    url: https://docs.neynar.com/reference/user-operations
  name: User
- description: Operations related to signer
  externalDocs:
    description: More info about signer
    url: https://docs.neynar.com/reference/signer-operations
  name: Signer
- description: Operations related to cast
  externalDocs:
    description: More info about cast
    url: https://docs.neynar.com/reference/cast-operations
  name: Cast
- description: Operations related to feed
  externalDocs:
    description: More info about feed
    url: https://docs.neynar.com/reference/feed-operations
  name: Feed
- description: Operations related to reaction
  externalDocs:
    description: More info about reaction
    url: https://docs.neynar.com/reference/reaction-operations
  name: Reaction
- description: Operations related to notifications
  externalDocs:
    description: More info about notifications
    url: https://docs.neynar.com/reference/notifications-operations
  name: Notifications
- description: Operations related to channels
  externalDocs:
    description: More info about channels
    url: https://docs.neynar.com/reference/channel-operations
  name: Channel
- description: Operations related to follows
  externalDocs:
    description: More info about follows
    url: https://docs.neynar.com/reference/follows-operations
  name: Follows
- description: Operations related to storage
  externalDocs:
    description: More info about storage
    url: https://docs.neynar.com/reference/storage-operations
  name: Storage
- description: Operations related to mini apps
  name: Frame
- description: Operations for building AI agents
  name: Agents
- description: Operations related to fname
  name: fname
- description: Operations related to a webhook
  name: Webhook
- description: Securely communicate and perform actions on behalf of users across
    different apps
  externalDocs:
    description: More info about farcaster actions
    url: https://docs.neynar.com/docs/farcaster-actions-spec
  name: Action
- description: Operations related to a subscriptions
  name: Subscribers
- description: Operations related to a mute
  name: Mute
- description: Operations related to a block
  name: Block
- description: Operations related to a ban
  name: Ban
- description: Operations related to onchain data
  name: Onchain
- description: Operations related to login
  name: Login
- description: Operations related to retrieving metrics
  name: Metrics
- description: Operations related to app host notifications
  name: App Host
paths:
  /v2/farcaster/action/:
    post:
      description: Securely communicate and perform actions on behalf of users across
        different apps. It enables an app to send data or trigger actions in another
        app on behalf of a mutual user by signing messages using the user's Farcaster
        signer.
      externalDocs:
        url: https://docs.neynar.com/reference/publish-farcaster-action
      operationId: publish-farcaster-action
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FarcasterActionReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
          description: Success
      summary: User actions across apps
      tags:
      - Action
  /v2/farcaster/app_host/user/state/:
    get:
      description: Returns the current notification state for a specific user across
        all mini app domains in this app host. Shows which domains have notifications
        enabled.
      externalDocs:
        url: https://docs.neynar.com/reference/app-host-get-user-state
      operationId: app-host-get-user-state
      parameters:
      - description: The FID of the user
        explode: true
        in: query
        name: fid
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppHostUserStateResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Get the user's notification subscriptions
      tags:
      - App Host
  /v2/farcaster/app_host/user/event:
    get:
      description: Returns event object for app host events. Used if the app host
        intends to sign the event message instead of using Neynar-hosted signers.
      externalDocs:
        url: https://docs.neynar.com/reference/app-host-get-event
      operationId: app-host-get-event
      parameters:
      - description: The domain of the mini app
        explode: true
        in: query
        name: app_domain
        required: true
        schema:
          example: demo.neynar.com
          type: string
        style: form
      - description: The FID of the user who initiated the event
        explode: true
        in: query
        name: fid
        required: true
        schema:
          type: integer
        style: form
      - description: The type of event
        explode: true
        in: query
        name: event
        required: true
        schema:
          enum:
          - frame_added
          - frame_removed
          - notifications_enabled
          - notifications_disabled
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppHostGetEventResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Get app host event
      tags:
      - App Host
    post:
      description: Post an app_host event to the domain's webhook. Events such as
        enabling or disabling notifications for a user. Provide either a signed message
        or the signer UUID of an authorized neynar-hosted signers.
      externalDocs:
        url: https://docs.neynar.com/reference/app-host-post-event
      operationId: app-host-post-event
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppHostPostEventBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppHostPostEventResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Process app host event
      tags:
      - App Host
  /v2/farcaster/ban/list/:
    get:
      description: Fetches all FIDs that your app has banned.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-ban-list
      operationId: fetch-ban-list
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          example: 20
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BanListResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Banned FIDs of app
      tags:
      - Ban
  /v2/farcaster/ban/:
    delete:
      description: Deletes a list of FIDs from the app associated with your API key.
      externalDocs:
        url: https://docs.neynar.com/reference/delete-bans
      operationId: delete-bans
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BanReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BanResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Unban FIDs from app
      tags:
      - Ban
    post:
      description: "Bans a list of FIDs from the app associated with your API key.\
        \ Banned users, their casts and reactions will not appear in feeds."
      externalDocs:
        url: https://docs.neynar.com/reference/publish-bans
      operationId: publish-bans
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BanReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BanResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Ban FIDs from app
      tags:
      - Ban
  /v2/farcaster/block/list/:
    get:
      description: Fetches all FIDs that a user has blocked or has been blocked by
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-block-list
      operationId: fetch-block-list
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      - description: Providing this will return the users that this user has blocked
        explode: true
        in: query
        name: blocker_fid
        required: false
        schema:
          example: 194
          format: int32
          title: Fid
          type: integer
        style: form
      - description: Providing this will return the users that have blocked this user
        explode: true
        in: query
        name: blocked_fid
        required: false
        schema:
          example: 194
          format: int32
          title: Fid
          type: integer
        style: form
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          example: 20
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockListResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Blocked / Blocked by FIDs
      tags:
      - Block
  /v2/farcaster/block/:
    delete:
      description: Deletes a block for a given FID.
      externalDocs:
        url: https://docs.neynar.com/reference/delete-block
      operationId: delete-block
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Unblock FID
      tags:
      - Block
    post:
      description: Adds a block for a given FID.
      externalDocs:
        url: https://docs.neynar.com/reference/publish-block
      operationId: publish-block
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Block FID
      tags:
      - Block
  /v2/farcaster/cast/conversation/summary/:
    get:
      description: Generates a summary of all casts related to a conversation surrounding
        a cast by passing in a cast hash or Farcaster URL.  Summary is generated by
        an LLM and is intended to be passed as a context to AI agents.
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-cast-conversation-summary
      operationId: lookup-cast-conversation-summary
      parameters:
      - description: Cast identifier (It's either a URL or a hash))
        explode: true
        in: query
        name: identifier
        required: true
        schema:
          example: 0x9288c1e862aa72bd69d0e383a28b9a76b63cbdb4
          type: string
        style: form
      - description: Number of casts to consider in a summary up to a point of target
          cast
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          example: 50
          maximum: 50
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Additional prompt used to generate a summary
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          example: be unreasonably dramatic
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationSummary'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Cast conversation summary
      tags:
      - Agents
  /v2/farcaster/cast/conversation/:
    get:
      description: Gets all casts related to a conversation surrounding a cast by
        passing in a cast hash or Farcaster URL. Includes all the ancestors of a cast
        up to the root parent in a chronological order. Includes all direct_replies
        to the cast up to the reply_depth specified in the query parameter.
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-cast-conversation
      operationId: lookup-cast-conversation
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      - description: Cast identifier (It's either a URL or a hash)
        explode: true
        in: query
        name: identifier
        required: true
        schema:
          example: https://warpcast.com/rish/0x9288c1
          type: string
        style: form
      - description: |-
          The query param accepted by the API. Sent along with identifier param.
          url - Cast identifier is a url
          hash - Cast identifier is a hash
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - url
          - hash
          example: url
          type: string
        style: form
      - description: The depth of replies in the conversation that will be returned
          (default 2)
        explode: true
        in: query
        name: reply_depth
        required: false
        schema:
          default: 2
          maximum: 5
          minimum: 0
          type: integer
        style: form
      - description: Include all parent casts in chronological order
        explode: true
        in: query
        name: include_chronological_parent_casts
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Providing this will return a conversation that respects this
          user's mutes and blocks and includes `viewer_context`.
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      - description: Sort type for the ordering of descendants. Default is `chron`
        explode: true
        in: query
        name: sort_type
        required: false
        schema:
          enum:
          - chron
          - desc_chron
          - algorithmic
          example: chron
          type: string
        style: form
      - description: Show conversation above or below the fold. Lower quality responses
          are hidden below the fold. Not passing in a value shows the full conversation
          without any folding.
        explode: true
        in: query
        name: fold
        required: false
        schema:
          enum:
          - above
          - below
          type: string
        style: form
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          example: 30
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Conversation for a cast
      tags:
      - Cast
  /v2/farcaster/cast/metrics/:
    get:
      description: Fetches metrics casts matching a query
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-cast-metrics
      operationId: fetch-cast-metrics
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      - description: Query string to search for casts
        explode: true
        in: query
        name: q
        required: true
        schema:
          example: star wars
          type: string
        style: form
      - description: Interval of time for which to fetch metrics. Default is 30d.
        explode: true
        in: query
        name: interval
        required: false
        schema:
          enum:
          - 1d
          - 7d
          - 30d
          - 90d
          - 180d
          type: string
        style: form
      - description: Fid of the user whose casts you want to search
        explode: true
        in: query
        name: author_fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      - description: Channel ID of the casts you want to search
        explode: true
        in: query
        name: channel_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastsMetricsResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Metrics for casts
      tags:
      - Metrics
  /v2/farcaster/cast/search/:
    get:
      description: "Search for casts based on a query string, with optional AND filters"
      externalDocs:
        url: https://docs.neynar.com/reference/search-casts
      operationId: search-casts
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      - description: |-
          Query string to search for casts. Supported operators:

          | Operator  | Description                                                                                              |
          | --------- | -------------------------------------------------------------------------------------------------------- |
          | `+`       | Acts as the AND operator. This is the default operator between terms and can usually be omitted.         |
          | `\|`      | Acts as the OR operator.                                                                                 |
          | `*`       | When used at the end of a term, signifies a prefix query.                                                  |
          | `"`       | Wraps several terms into a phrase (for example, `"star wars"`).                                          |
          | `(`, `)`  | Wrap a clause for precedence (for example, `star + (wars \| trek)`).                                     |
          | `~n`      | When used after a term (for example, `satr~3`), sets `fuzziness`. When used after a phrase, sets `slop`. |
          | `-`       | Negates the term.                                                                                        |
          | `before:` | Search for casts before a specific date. (e.g. `before:2025-04-20`)                                       |
          | `after:`  | Search for casts after a specific date. (e.g. `after:2025-04-20`)                                         |
        explode: true
        in: query
        name: q
        required: true
        schema:
          example: star (wars | trek) "space battle" after:2024-05-04
          type: string
        style: form
      - description: |-
          Choices are:
          - `literal` - Searches for the words in the query string (default)
          - `semantic` - Searches for the meaning of the query string
          - `hybrid` - Combines both literal and semantic results
        explode: true
        in: query
        name: mode
        required: false
        schema:
          enum:
          - literal
          - semantic
          - hybrid
          example: literal
          type: string
        style: form
      - description: |-
          Choices are:
          - `desc_chron` - All casts sorted by time (default)
          - `algorithmic` - Casts sorted by engagement and time
        explode: true
        in: query
        name: sort_type
        required: false
        schema:
          enum:
          - desc_chron
          - algorithmic
          example: desc_chron
          type: string
        style: form
      - description: Fid of the user whose casts you want to search
        explode: true
        in: query
        name: author_fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      - description: Providing this will return search results that respects this
          user's mutes and blocks and includes `viewer_context`.
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      - description: Parent URL of the casts you want to search
        explode: true
        in: query
        name: parent_url
        required: false
        schema:
          type: string
        style: form
      - description: Channel ID of the casts you want to search
        explode: true
        in: query
        name: channel_id
        required: false
        schema:
          type: string
        style: form
      - description: "When true, only returns search results from power badge users\
          \ and users that the viewer follows (if viewer_fid is provided)."
        explode: true
        in: query
        name: priority_mode
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          example: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastsSearchResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Search for casts
      tags:
      - Cast
  /v2/farcaster/cast/composer_actions/list/:
    get:
      description: Fetches all composer actions on Warpcast. You can filter by top
        or featured.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-composer-actions
      operationId: fetch-composer-actions
      parameters:
      - description: Type of list to fetch.
        explode: true
        in: query
        name: list
        required: true
        schema:
          enum:
          - top
          - featured
          example: top
          type: string
        style: form
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          example: 25
          maximum: 25
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastComposerActionsListResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Fetch composer actions
      tags:
      - Cast
  /v2/farcaster/cast/embed/crawl/:
    get:
      description: Crawls the given URL and returns metadata useful when embedding
        the URL in a cast.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-embedded-url-metadata
      operationId: fetch-embedded-url-metadata
      parameters:
      - description: URL to crawl metadata of
        explode: true
        in: query
        name: url
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastEmbedCrawlResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Embedded URL metadata
      tags:
      - Cast
  /v2/farcaster/cast/:
    delete:
      description: "Delete an existing cast. \n(In order to delete a cast `signer_uuid`\
        \ must be approved)"
      externalDocs:
        url: https://docs.neynar.com/reference/delete-cast
      operationId: delete-cast
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteCastReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Delete a cast
      tags:
      - Cast
    get:
      description: Gets information about an individual cast by passing in a Farcaster
        web URL or cast hash
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-cast-by-hash-or-warpcast-url
      operationId: lookup-cast-by-hash-or-warpcast-url
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      - description: Cast identifier (Its either a url or a hash)
        explode: true
        in: query
        name: identifier
        required: true
        schema:
          example: https://farcaster.xyz/v/0xeb000a9f
          type: string
        style: form
      - description: |-
          The query param accepted by the API. Sent along with identifier param.
          url - Cast identifier is a url
          hash - Cast identifier is a hash
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - url
          - hash
          example: url
          type: string
        style: form
      - description: adds viewer_context to cast object to show whether viewer has
          liked or recasted the cast.
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: By hash or URL
      tags:
      - Cast
    post:
      description: "Posts a cast or cast reply. Works with mentions and embeds.  \n\
        (In order to post a cast `signer_uuid` must be approved)"
      externalDocs:
        url: https://docs.neynar.com/reference/publish-cast
      operationId: publish-cast
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCastReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCastResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Post a cast
      tags:
      - Cast
  /v2/farcaster/casts/:
    get:
      description: Fetch multiple casts using their respective hashes.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-bulk-casts
      operationId: fetch-bulk-casts
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      - description: "Hashes of the cast to be retrived (Comma separated, no spaces)"
        explode: true
        in: query
        name: casts
        required: true
        schema:
          example: "0xa896906a5e397b4fec247c3ee0e9e4d4990b8004,0x27ff810f7f718afd8c40be236411f017982e0994"
          type: string
          x-comma-separated: true
        style: form
      - description: adds viewer_context to cast object to show whether viewer has
          liked or recasted the cast.
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      - description: Optional parameter to sort the casts based on different criteria
        explode: true
        in: query
        name: sort_type
        required: false
        schema:
          enum:
          - trending
          - likes
          - recasts
          - replies
          - recent
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastsResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Bulk fetch casts
      tags:
      - Cast
  /v2/farcaster/channel/list/:
    get:
      description: Returns a list of all channels with their details
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-all-channels
      operationId: fetch-all-channels
      parameters:
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          example: 30
          maximum: 200
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelListResponse'
          description: Success
      summary: Fetch all channels with their details
      tags:
      - Channel
  /v2/farcaster/channel/member/list/:
    get:
      description: Fetch a list of members in a channel
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-channel-members
      operationId: fetch-channel-members
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      - description: Channel ID for the channel being queried
        explode: true
        in: query
        name: channel_id
        required: true
        schema:
          example: neynar
          type: string
        style: form
      - description: FID of the user being queried. Specify this to check if a user
          is a member of the channel without paginating through all members.
        explode: true
        in: query
        name: fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMemberListResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Fetch members
      tags:
      - Channel
  /v2/farcaster/channel/member/invite/list/:
    get:
      description: "Fetch a list of invites, either in a channel or for a user. If\
        \ both are provided, open channel invite for that user is returned."
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-channel-invites
      operationId: fetch-channel-invites
      parameters:
      - description: Channel ID for the channel being queried
        explode: true
        in: query
        name: channel_id
        required: false
        schema:
          example: neynar
          type: string
        style: form
      - description: FID of the user being invited
        explode: true
        in: query
        name: invited_fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMemberInviteListResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Open invites
      tags:
      - Channel
  /v2/farcaster/channel/member/invite/:
    post:
      description: Invite a user to a channel
      externalDocs:
        url: https://docs.neynar.com/reference/invite-channel-member
      operationId: invite-channel-member
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteChannelMemberReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Invite
      tags:
      - Channel
    put:
      description: Accept or reject a channel invite
      externalDocs:
        url: https://docs.neynar.com/reference/respond-channel-invite
      operationId: respond-channel-invite
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RespondChannelInviteReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Accept or reject an invite
      tags:
      - Channel
  /v2/farcaster/channel/member/:
    delete:
      description: Remove a user from a channel or a user's invite to a channel role
      externalDocs:
        url: https://docs.neynar.com/reference/remove-channel-member
      operationId: remove-channel-member
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveChannelMemberReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Remove user
      tags:
      - Channel
  /v2/farcaster/channel/search/:
    get:
      description: Returns a list of channels based on ID or name
      externalDocs:
        url: https://docs.neynar.com/reference/search-channels
      operationId: search-channels
      parameters:
      - description: Channel ID or name for the channel being queried
        explode: true
        in: query
        name: q
        required: true
        schema:
          example: neynar
          type: string
        style: form
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          example: 30
          maximum: 200
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelSearchResponse'
          description: Success
      summary: Search by ID or name
      tags:
      - Channel
  /v2/farcaster/channel/bulk/:
    get:
      description: Returns details of multiple channels
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-bulk-channels
      operationId: fetch-bulk-channels
      parameters:
      - description: "Comma separated list of channel IDs or parent_urls, up to 100\
          \ at a time"
        explode: true
        in: query
        name: ids
        required: true
        schema:
          example: "neynar,warpcast"
          type: string
          x-comma-separated: true
        style: form
      - description: Type of identifier being used to query the channels. Defaults
          to ID.
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - id
          - parent_url
          example: id
          title: ChannelType
          type: string
        style: form
      - description: FID of the user viewing the channels.
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResponseBulk'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
      summary: Bulk fetch
      tags:
      - Channel
  /v2/farcaster/channel/follow/:
    delete:
      description: Unfollow a channel
      externalDocs:
        url: https://docs.neynar.com/reference/unfollow-channel
      operationId: unfollow-channel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelFollowReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Unfollow a channel
      tags:
      - Channel
    post:
      description: Follow a channel
      externalDocs:
        url: https://docs.neynar.com/reference/follow-channel
      operationId: follow-channel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelFollowReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Follow a channel
      tags:
      - Channel
  /v2/farcaster/channel/followers/relevant/:
    get:
      description: "Returns a list of relevant channel followers for a specific FID.\
        \ This usually shows on a channel as \"X, Y, Z follow this channel\"."
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-relevant-followers-for-a-channel
      operationId: fetch-relevant-followers-for-a-channel
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      - description: Channel ID being queried
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: neynar
          type: string
        style: form
      - description: The FID of the user to customize this response for. Providing
          this will also return a list of followers that respects this user's mutes
          and blocks and includes `viewer_context`.
        explode: true
        in: query
        name: viewer_fid
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelevantFollowersResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Relevant followers
      tags:
      - Channel
  /v2/farcaster/channel/followers/:
    get:
      description: Returns a list of followers for a specific channel. Max limit is
        1000. Use cursor for pagination.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-followers-for-a-channel
      operationId: fetch-followers-for-a-channel
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      - description: Channel ID for the channel being queried
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: founders
          type: string
        style: form
      - description: Providing this will return a list of followers that respects
          this user's mutes and blocks and includes `viewer_context`.
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of followers to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 1000
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: For channel
      tags:
      - Channel
  /v2/farcaster/channel/user/:
    get:
      description: "Fetches all channels that a user has casted in, in reverse chronological\
        \ order."
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-users-active-channels
      operationId: fetch-users-active-channels
      parameters:
      - description: The user's FID (identifier)
        explode: true
        in: query
        name: fid
        required: true
        schema:
          type: integer
        style: form
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersActiveChannelsResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
      summary: Fetch channels that user is active in
      tags:
      - Channel
  /v2/farcaster/channel/trending/:
    get:
      description: Returns a list of trending channels based on activity
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-trending-channels
      operationId: fetch-trending-channels
      parameters:
      - explode: true
        in: query
        name: time_window
        required: false
        schema:
          enum:
          - 1d
          - 7d
          - 30d
          type: string
        style: form
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 25
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendingChannelResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Channels by activity
      tags:
      - Channel
  /v2/farcaster/channel/:
    get:
      description: Returns details of a channel
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-channel
      operationId: lookup-channel
      parameters:
      - description: Channel ID for the channel being queried
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: neynar
          type: string
        style: form
      - description: Type of identifier being used to query the channel. Defaults
          to ID.
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - id
          - parent_url
          example: id
          title: ChannelType
          type: string
        style: form
      - description: FID of the user viewing the channel.
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
      summary: By ID or parent_url
      tags:
      - Channel
  /v2/farcaster/feed/following/:
    get:
      description: Fetch feed based on who a user is following
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-user-following-feed
      operationId: fetch-user-following-feed
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      - description: FID of user whose feed you want to create
        explode: true
        in: query
        name: fid
        required: true
        schema:
          type: integer
        style: form
      - description: Providing this will return a feed that respects this user's mutes
          and blocks and includes `viewer_context`.
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      - description: "Include recasts in the response, true by default"
        explode: true
        in: query
        name: with_recasts
        required: false
        schema:
          default: true
          example: true
          type: boolean
        style: form
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          example: 30
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Following
      tags:
      - Feed
  /v2/farcaster/feed/for_you/:
    get:
      description: Fetch a personalized For You feed for a user
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-feed-for-you
      operationId: fetch-feed-for-you
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      - description: FID of user whose feed you want to create
        explode: true
        in: query
        name: fid
        required: true
        schema:
          type: integer
        style: form
      - description: Providing this will return a feed that respects this user's mutes
          and blocks and includes `viewer_context`.
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      - description: The provider of the For You feed.
        explode: true
        in: query
        name: provider
        required: false
        schema:
          default: neynar
          enum:
          - neynar
          - openrank
          - mbd
          type: string
        style: form
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          example: 30
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "provider_metadata is a URI-encoded stringified JSON object that\
          \ can be used to pass additional metadata to the provider. Only available\
          \ for mbd provider right now. See [here](https://docs.neynar.com/docs/feed-for-you-w-external-providers)\
          \ on how to use."
        explode: true
        in: query
        name: provider_metadata
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fetch_feed_for_you_400_response'
          description: Bad Request
      summary: For you
      tags:
      - Feed
  /v2/farcaster/feed/channels/:
    get:
      description: Fetch feed based on channel IDs
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-feed-by-channel-ids
      operationId: fetch-feed-by-channel-ids
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      - description: "Comma separated list of up to 10 channel IDs e.g. neynar,farcaster"
        explode: true
        in: query
        name: channel_ids
        required: true
        schema:
          example: "neynar,farcaster"
          type: string
          x-comma-separated: true
        style: form
      - description: "Include recasts in the response, true by default"
        explode: true
        in: query
        name: with_recasts
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Providing this will return a feed that respects this user's mutes
          and blocks and includes `viewer_context`.
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      - description: "Include replies in the response, false by default"
        explode: true
        in: query
        name: with_replies
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Used when filter_type=channel_id. Only include casts from members
          of the channel. True by default.
        explode: true
        in: query
        name: members_only
        required: false
        schema:
          default: true
          deprecated: true
          example: true
          type: boolean
        style: form
      - description: "Comma separated list of FIDs to filter the feed by, up to 10\
          \ at a time"
        explode: true
        in: query
        name: fids
        required: false
        schema:
          type: string
          x-comma-separated: true
          x-accept-as: integer
        style: form
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "If true, only casts that have been liked by the moderator (if\
          \ one exists) will be returned."
        explode: true
        in: query
        name: should_moderate
        required: false
        schema:
          default: false
          deprecated: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: By channel IDs
      tags:
      - Feed
  /v2/farcaster/feed/parent_urls/:
    get:
      description: Fetch feed based on parent URLs
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-feed-by-parent-urls
      operationId: fetch-feed-by-parent-urls
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      - description: Comma separated list of parent_urls
        explode: true
        in: query
        name: parent_urls
        required: true
        schema:
          example: chain://eip155:1/erc721:0xd4498134211baad5846ce70ce04e7c4da78931cc
          type: string
          x-comma-separated: true
        style: form
      - description: "Include recasts in the response, true by default"
        explode: true
        in: query
        name: with_recasts
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Providing this will return a feed that respects this user's mutes
          and blocks and includes `viewer_context`.
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      - description: "Include replies in the response, false by default"
        explode: true
        in: query
        name: with_replies
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: By parent URLs
      tags:
      - Feed
  /v2/farcaster/feed/frames/:
    get:
      description: "Fetch feed of casts with mini apps, reverse chronological order"
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-frames-only-feed
      operationId: fetch-frames-only-feed
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          example: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Providing this will return a feed that respects this user's mutes
          and blocks and includes `viewer_context`.
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Casts with mini apps
      tags:
      - Feed
  /v2/farcaster/feed/trending/:
    get:
      description: Fetch trending casts or on the global feed or channels feeds. 7d
        time window available for channel feeds only.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-trending-feed
      operationId: fetch-trending-feed
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          example: 10
          format: int32
          maximum: 10
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Providing this will return a feed that respects this user's mutes
          and blocks and includes `viewer_context`.
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      - description: Time window for trending casts (7d window for channel feeds only)
        explode: true
        in: query
        name: time_window
        required: false
        schema:
          default: 24h
          enum:
          - 1h
          - 6h
          - 12h
          - 24h
          - 7d
          example: 24h
          type: string
        style: form
      - description: "Channel ID to filter trending casts. Less active channels might\
          \ have no casts in the time window selected. Provide either `channel_id`\
          \ or `parent_url`, not both."
        explode: true
        in: query
        name: channel_id
        required: false
        schema:
          example: neynar
          type: string
        style: form
      - description: "Parent URL to filter trending casts. Less active channels might\
          \ have no casts in the time window selected. Provide either `channel_id`\
          \ or `parent_url`, not both."
        explode: true
        in: query
        name: parent_url
        required: false
        schema:
          example: chain://eip155:1/erc721:0xd4498134211baad5846ce70ce04e7c4da78931cc
          type: string
        style: form
      - description: The provider of the trending casts feed.
        explode: true
        in: query
        name: provider
        required: false
        schema:
          default: neynar
          enum:
          - neynar
          - openrank
          - mbd
          example: neynar
          type: string
        style: form
      - description: "provider_metadata is a URI-encoded stringified JSON object that\
          \ can be used to pass additional metadata to the provider. Only available\
          \ for mbd provider right now. See [here](https://docs.neynar.com/docs/feed-for-you-w-external-providers)\
          \ on how to use."
        explode: true
        in: query
        name: provider_metadata
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fetch_trending_feed_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Trending feeds
      tags:
      - Feed
  /v2/farcaster/feed/user/popular/:
    get:
      description: "Fetch 10 most popular casts for a given user FID; popularity based\
        \ on replies, likes and recasts; sorted by most popular first"
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-popular-casts-by-user
      operationId: fetch-popular-casts-by-user
      parameters:
      - description: FID of user whose feed you want to create
        explode: true
        in: query
        name: fid
        required: true
        schema:
          type: integer
        style: form
      - description: The unique identifier of a farcaster user or app (unsigned integer)
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCastsResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: 10 most popular casts
      tags:
      - Feed
  /v2/farcaster/feed/user/replies_and_recasts/:
    get:
      description: Fetch recent replies and recasts for a given user FID; sorted by
        most recent first
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-replies-and-recasts-for-user
      operationId: fetch-replies-and-recasts-for-user
      parameters:
      - description: FID of user whose replies and recasts you want to fetch
        explode: true
        in: query
        name: fid
        required: true
        schema:
          type: integer
        style: form
      - description: Filter to fetch only replies or recasts
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: all
          enum:
          - replies
          - recasts
          - all
          example: replies
          type: string
        style: form
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          example: 30
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Providing this will return a feed that respects this user's mutes
          and blocks and includes `viewer_context`.
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Replies and recasts
      tags:
      - Feed
  /v2/farcaster/feed/user/casts/:
    get:
      description: Fetch casts for a given user FID in reverse chronological order.
        Also allows filtering by parent_url and channel
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-casts-for-user
      operationId: fetch-casts-for-user
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      - description: FID of user whose recent casts you want to fetch
        explode: true
        in: query
        name: fid
        required: true
        schema:
          example: 194
          type: integer
        style: form
      - description: "Optionally filter to casts created via a specific app FID, e.g.\
          \ 9152 for Warpcast"
        explode: true
        in: query
        name: app_fid
        required: false
        schema:
          example: 9152
          format: int32
          title: Fid
          type: integer
        style: form
      - description: FID of the user viewing the feed
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          example: 30
          format: int32
          maximum: 150
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "Include reply casts by the author in the response, true by default"
        explode: true
        in: query
        name: include_replies
        required: false
        schema:
          default: true
          example: true
          type: boolean
        style: form
      - description: Parent URL to filter the feed; mutually exclusive with channel_id
        explode: true
        in: query
        name: parent_url
        required: false
        schema:
          type: string
        style: form
      - description: Channel ID to filter the feed; mutually exclusive with parent_url
        explode: true
        in: query
        name: channel_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Chronologically
      tags:
      - Feed
  /v2/farcaster/feed/:
    get:
      description: Fetch casts based on filters. Ensure setting the correct parameters
        based on the feed_type and filter_type.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-feed
      operationId: fetch-feed
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      - description: Defaults to following (requires FID or address). If set to filter
          (requires filter_type)
        explode: true
        in: query
        name: feed_type
        required: false
        schema:
          default: following
          enum:
          - following
          - filter
          example: filter
          title: FeedType
          type: string
        style: form
      - description: Used when feed_type=filter. Can be set to FIDs (requires FIDs)
          or parent_url (requires parent_url) or channel_id (requires channel_id)
        explode: true
        in: query
        name: filter_type
        required: false
        schema:
          enum:
          - fids
          - parent_url
          - channel_id
          - embed_url
          - embed_types
          - global_trending
          example: fids
          title: FilterType
          type: string
        style: form
      - description: "(Optional) FID of user whose feed you want to create. By default,\
          \ the API expects this field, except if you pass a filter_type"
        explode: true
        in: query
        name: fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      - description: Used when filter_type=FIDs . Create a feed based on a list of
          FIDs. Max array size is 100. Requires feed_type and filter_type.
        explode: true
        in: query
        name: fids
        required: false
        schema:
          example: "3,2,194"
          type: string
          x-comma-separated: true
          x-accept-as: integer
        style: form
      - description: Used when filter_type=parent_url can be used to fetch content
          under any parent url e.g. FIP-2 channels on Warpcast. Requires feed_type
          and filter_type.
        explode: true
        in: query
        name: parent_url
        required: false
        schema:
          example: chain://eip155:1/erc721:0xd4498134211baad5846ce70ce04e7c4da78931cc
          type: string
        style: form
      - description: Used when filter_type=channel_id can be used to fetch casts under
          a channel. Requires feed_type and filter_type.
        explode: true
        in: query
        name: channel_id
        required: false
        schema:
          example: neynar
          type: string
        style: form
      - description: Used when filter_type=channel_id. Only include casts from members
          of the channel. True by default.
        explode: true
        in: query
        name: members_only
        required: false
        schema:
          default: true
          deprecated: true
          example: true
          type: boolean
        style: form
      - description: Used when filter_type=embed_url. Casts with embedded URLs prefixed
          by this embed_url param will be returned. We normalize your given URL prefix
          and prepend 'https://' if no protocol is included. Requires feed_type and
          filter_type.
        explode: true
        in: query
        name: embed_url
        required: false
        schema:
          example: https://example.com
          type: string
        style: form
      - description: Used when filter_type=embed_types can be used to fetch all casts
          with matching content types. Requires feed_type and filter_type.
        explode: true
        in: query
        name: embed_types
        required: false
        schema:
          items:
            description: The content type of the embedded file
            enum:
            - text
            - image
            - video
            - audio
            - text/html
            - text/plain
            - image/jpeg
            - image/png
            - image/gif
            - image/webp
            - image/svg+xml
            - image/heif
            - video/mp4
            - video/quicktime
            - audio/mpeg
            - application/pdf
            - application/json
            - application/x-mpegurl
            title: EmbedType
            type: string
          type: array
        style: form
      - description: "Include recasts in the response, true by default"
        explode: true
        in: query
        name: with_recasts
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          example: 30
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Providing this will return a feed that respects this user's mutes
          and blocks and includes `viewer_context`.
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          example: 3
          format: int32
          title: Fid
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: By filters
      tags:
      - Feed
  /v2/farcaster/fname/availability/:
    get:
      description: Check if a given fname is available
      externalDocs:
        url: https://docs.neynar.com/reference/is-fname-available
      operationId: is-fname-available
      parameters:
      - explode: true
        in: query
        name: fname
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FnameAvailabilityResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Check fname availability
      tags:
      - fname
  /v2/farcaster/followers/relevant/:
    get:
      description: "Returns a list of relevant followers for a specific FID. This\
        \ usually shows on a profile as \"X, Y and Z follow this user\"."
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-relevant-followers
      operationId: fetch-relevant-followers
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      - description: User who's profile you are looking at
        explode: true
        in: query
        name: target_fid
        required: true
        schema:
          type: integer
        style: form
      - description: The FID of the user to customize this response for. Providing
          this will also return a list of followers that respects this user's mutes
          and blocks and includes `viewer_context`.
        explode: true
        in: query
        name: viewer_fid
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelevantFollowersResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Relevant followers
      tags:
      - Follows
  /v2/farcaster/followers/:
    get:
      description: Returns a list of followers for a specific FID.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-user-followers
      operationId: fetch-user-followers
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      - description: User who's profile you are looking at
        explode: true
        in: query
        name: fid
[...]
