openapi: 3.0.4
info:
  contact:
    email: team@neynar.com
    name: Neynar
    url: https://neynar.com/
  description: |
    The Farcaster API allows you to interact with the Farcaster protocol. See the [Neynar docs](https://docs.neynar.com/reference) for more details.
  title: Farcaster API V2
  version: 2.42.0
servers:
- url: https://api.neynar.com/v2
security:
- ApiKeyAuth: []
tags:
- description: Operations related to user
  externalDocs:
    description: More info about user
    url: https://docs.neynar.com/reference/user-operations
  name: User
- description: Operations related to signer
  externalDocs:
    description: More info about signer
    url: https://docs.neynar.com/reference/signer-operations
  name: Signer
- description: Operations related to cast
  externalDocs:
    description: More info about cast
    url: https://docs.neynar.com/reference/cast-operations
  name: Cast
- description: Operations related to feed
  externalDocs:
    description: More info about feed
    url: https://docs.neynar.com/reference/feed-operations
  name: Feed
- description: Operations related to reaction
  externalDocs:
    description: More info about reaction
    url: https://docs.neynar.com/reference/reaction-operations
  name: Reaction
- description: Operations related to notifications
  externalDocs:
    description: More info about notifications
    url: https://docs.neynar.com/reference/notifications-operations
  name: Notifications
- description: Operations related to channels
  externalDocs:
    description: More info about channels
    url: https://docs.neynar.com/reference/channel-operations
  name: Channel
- description: Operations related to follows
  externalDocs:
    description: More info about follows
    url: https://docs.neynar.com/reference/follows-operations
  name: Follows
- description: Operations related to storage
  externalDocs:
    description: More info about storage
    url: https://docs.neynar.com/reference/storage-operations
  name: Storage
- description: Operations related to mini apps
  name: Frame
- description: Operations for building AI agents
  name: Agents
- description: Operations related to fname
  name: fname
- description: Operations related to a webhook
  name: Webhook
- description: Securely communicate and perform actions on behalf of users across
    different apps
  externalDocs:
    description: More info about farcaster actions
    url: https://docs.neynar.com/docs/farcaster-actions-spec
  name: Action
- description: Operations related to a subscriptions
  name: Subscribers
- description: Operations related to a mute
  name: Mute
- description: Operations related to a block
  name: Block
- description: Operations related to a ban
  name: Ban
- description: Operations related to onchain data
  name: Onchain
- description: Operations related to login
  name: Login
- description: Operations related to retrieving metrics
  name: Metrics
paths:
  /farcaster/user/fid:
    get:
      description: "Fetches FID to [assign it to new user](https://docs.neynar.com/reference/register-account)"
      externalDocs:
        url: https://docs.neynar.com/reference/get-fresh-account-fid
      operationId: get-fresh-account-FID
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserFIDResponse'
          description: Successful operation.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Fetch fresh FID
      tags:
      - User
  /farcaster/signer/developer_managed:
    get:
      description: Fetches the status of a developer managed signer by public key
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-developer-managed-signer
      operationId: lookup-developer-managed-signer
      parameters:
      - example: 0x3daa8f99c5f760688a3c9f95716ed93dee5ed5d7722d776b7c4deac957755f22
        explode: true
        in: query
        name: public_key
        required: true
        schema:
          $ref: '#/components/schemas/Ed25519PublicKey'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeveloperManagedSigner'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Status by public key
      tags:
      - Signer
  /farcaster/signer/developer_managed/signed_key:
    post:
      description: Registers an signed key and returns the developer managed signer
        status with an approval url.
      externalDocs:
        url: https://docs.neynar.com/reference/register-signed-key-for-developer-managed-signer
      operationId: register-signed-key-for-developer-managed-signer
      requestBody:
        content:
          application/json:
            example:
              app_fid: 18949
              deadline: 1693627665
              public_key: 0x3daa8f99c5f760688a3c9f95716ed93dee5ed5d7722d776b7c4deac957755f22
              signature: 0xe5d95c391e165dac8efea373efe301d3ea823e1f41713f8943713cbe2850566672e33ff3e17e19abb89703f650a2597f62b4fda0ce28ca15d59eb6d4e971ee531b
            schema:
              $ref: '#/components/schemas/RegisterDeveloperManagedSignedKeyReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeveloperManagedSigner'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Register Signed Key
      tags:
      - Signer
  /farcaster/signer:
    get:
      description: Gets information status of a signer by passing in a signer_uuid
        (Use post API to generate a signer)
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-signer
      operationId: lookup-signer
      parameters:
      - example: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
        explode: true
        in: query
        name: signer_uuid
        required: true
        schema:
          $ref: '#/components/schemas/SignerUUID'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signer'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Status
      tags:
      - Signer
    post:
      description: |
        Creates a signer and returns the signer status. \
        **Note**: While tesing please reuse the signer, it costs money to approve a signer.
      externalDocs:
        url: https://docs.neynar.com/reference/create-signer
      operationId: create-signer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signer'
          description: Successful operation.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Create signer
      tags:
      - Signer
  /farcaster/signer/list:
    get:
      description: Fetches a list of signers for a custody address
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-signers
      operationId: fetch-signers
      parameters:
      - description: "A Sign-In with Ethereum (SIWE) message that the user's Ethereum\
          \ wallet signs. This message includes details such as the domain, address,\
          \ statement, URI, nonce, and other relevant information following the EIP-4361\
          \ standard. It should be structured and URL-encoded.\n\nexample: \nexample.com\
          \ wants you to sign in with your Ethereum account:\\\\n0x23A...F232\\\\\
          n\\\\nSign in to continue.\\\\n\\\\nURI: example.com\\\\nVersion: 1\\\\\
          nChain ID: 1\\\\nNonce: xyz123\\\\nIssued At: 2021-09-01T14:52:07Z\n\nNote:\
          \ This is just an example message (So, message is invalid, since we don't\
          \ want any signers related to NEYNAR_API_DOCS to be exposed). \n\n[Checkout\
          \ fetch-signers API documentation for more details.](https://docs.neynar.com/docs/fetch-signers-1)\n"
        explode: true
        in: query
        name: message
        required: true
        schema:
          example: example.com%20wants%20you%20to%20sign%20in%20with%20your%20Ethereum%20account%3A%5Cn0x23A...F232%5Cn%5CnSign%20in%20to%20continue.%5Cn%5CnURI%3A%20example.com%5CnVersion%3A%201%5CnChain%20ID%3A%201%5CnNonce%3A%20xyz123%5CnIssued%20At%3A%202021-09-01T14%3A52%3A07Z
          type: string
        style: form
      - description: |
          The digital signature produced by signing the provided SIWE message with the user's Ethereum private key. This signature is used to verify the authenticity of the message and the identity of the signer.
        explode: true
        in: query
        name: signature
        required: true
        schema:
          example: 0x25f8...1cf
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignerListResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: List signers
      tags:
      - Signer
  /farcaster/signer/signed_key:
    post:
      description: "Registers an app FID, deadline and a signature. Returns the signer\
        \ status with an approval url."
      externalDocs:
        url: https://docs.neynar.com/reference/register-signed-key
      operationId: register-signed-key
      requestBody:
        content:
          application/json:
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              app_fid: 18949
              deadline: 1693627665
              signature: 0xe5d95c391e165dac8efea373efe301d3ea823e1f41713f8943713cbe2850566672e33ff3e17e19abb89703f650a2597f62b4fda0ce28ca15d59eb6d4e971ee531b
            schema:
              $ref: '#/components/schemas/RegisterSignerKeyReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signer'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Register Signed Key
      tags:
      - Signer
  /farcaster/user/search:
    get:
      description: Search for Usernames
      externalDocs:
        url: https://docs.neynar.com/reference/search-user
      operationId: search-user
      parameters:
      - example: r
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - description: Providing this will return search results that respects this
          user's mutes and blocks and includes `viewer_context`.
        example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Number of users to fetch
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 5
          format: int32
          maximum: 10
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSearchResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Search for Usernames
      tags:
      - User
  /farcaster/user/bulk:
    get:
      description: Fetches information about multiple users based on FIDs
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-bulk-users
      operationId: fetch-bulk-users
      parameters:
      - description: "Comma separated list of FIDs, up to 100 at a time"
        example: "194, 191, 6131"
        explode: true
        in: query
        name: fids
        required: true
        schema:
          type: string
          x-comma-separated: true
          x-accept-as: integer
        style: form
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUsersResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: By FIDs
      tags:
      - User
  /farcaster/user/power:
    get:
      description: Fetches power users based on Warpcast power badges. Information
        is updated once a day.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-power-users
      operationId: fetch-power-users
      parameters:
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Number of power users to fetch
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Power users
      tags:
      - User
  /farcaster/user/power_lite:
    get:
      description: Fetches power users and respond in a backwards compatible format
        to Warpcast's deprecated power badge endpoint.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-power-users-lite
      operationId: fetch-power-users-lite
      parameters:
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPowerLiteResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Power user FIDs
      tags:
      - User
  /farcaster/user/bulk-by-address:
    get:
      description: |-
        Fetches all users based on multiple Ethereum or Solana addresses.

        Each farcaster user has a custody Ethereum address and optionally verified Ethereum or Solana addresses. This endpoint returns all users that have any of the given addresses as their custody or verified Ethereum or Solana addresses.

        A custody address can be associated with only 1 farcaster user at a time but a verified address can be associated with multiple users.
        You can pass in Ethereum and Solana addresses, comma separated, in the same request. The response will contain users associated with the given addresses.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-bulk-users-by-eth-or-sol-address
      operationId: fetch-bulk-users-by-eth-or-sol-address
      parameters:
      - description: "Comma separated list of Ethereum addresses, up to 350 at a time"
        example: "0xa6a8736f18f383f1cc2d938576933e5ea7df01a1,0x7cac817861e5c3384753403fb6c0c556c204b1ce"
        explode: true
        in: query
        name: addresses
        required: true
        schema:
          type: string
          x-comma-separated: true
        style: form
      - description: |
          Customize which address types the request should search for. This is a comma-separated string that can include the following values: 'custody_address' and 'verified_address'. By default api returns both. To select multiple types, use a comma-separated list of these values.
        explode: false
        in: query
        name: address_types
        required: false
        schema:
          items:
            $ref: '#/components/schemas/BulkUserAddressType'
          type: array
        style: form
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUsersByAddressResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
      summary: By Eth or Sol addresses
      tags:
      - User
  /farcaster/user/channels:
    get:
      description: Returns a list of all channels with their details that a FID follows.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-user-channels
      operationId: fetch-user-channels
      parameters:
      - description: The FID of the user.
        explode: true
        in: query
        name: fid
        required: true
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Number of results to fetch
        example: 30
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelListResponse'
          description: Successful response
      summary: Following
      tags:
      - Channel
  /farcaster/user/memberships/list:
    get:
      description: Returns a list of all channels with their details that an FID is
        a member of. Data may have a delay of up to 1 hour.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-user-channel-memberships
      operationId: fetch-user-channel-memberships
      parameters:
      - description: The FID of the user.
        example: 3
        explode: true
        in: query
        name: fid
        required: true
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Number of results to fetch
        example: 30
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMemberListResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Member of
      tags:
      - Channel
  /farcaster/user:
    patch:
      description: |
        Update user profile \
        (In order to update user's profile `signer_uuid` must be approved)
      externalDocs:
        url: https://docs.neynar.com/reference/update-user
      operationId: update-user
      requestBody:
        content:
          application/json:
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              bio: Experimenting on Farcaster
              pfp_url: https://i.imgur.com/keIWEYM.jpg
              username: dan
              display_name: Dan Romero
              latitude: 37.7749
              longitude: -122.4194
            schema:
              $ref: '#/components/schemas/UpdateUserReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Update user profile
      tags:
      - User
    post:
      description: |
        Register account on farcaster.

        **Note:** This API must be called within 10 minutes of the fetch FID API call (i.e., /v2/farcaster/user/fid). Otherwise, Neynar will assign this FID to another available user.
      externalDocs:
        url: https://docs.neynar.com/reference/register-account
      operationId: register-account
      requestBody:
        content:
          application/json:
            example:
              signature: 0xe0cd4da80fb30d59e3ce5a10768c35043bc31487362977cf0a3acf15338a730f4aa329568055c943d777dd81fcb60292f15fc0bcf644da1943b6aa0b3ea9bdcf1b
              fid: 321518
              requested_user_custody_address: 0x2c57e688154C082955cF205F4A335E852D3e25f1
              deadline: 1707371935
              fname: desired_fname
            schema:
              $ref: '#/components/schemas/RegisterUserReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterUserResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictErrorRes'
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Register new account
      tags:
      - User
  /farcaster/user/register:
    post:
      description: |
        Register a new farcaster account onchain. Optionally you can pass in signers along to register a new account and create multiple signers in a single transaction
      externalDocs:
        url: https://docs.neynar.com/reference/register-account-onchain
      operationId: register-account-onchain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterUserOnChainReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterUserOnChainResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Register Farcaster account onchain
      tags:
      - Onchain
  /farcaster/message:
    post:
      description: Publish a message to farcaster. The message must be signed by a
        signer managed by the developer. Use the @farcaster/core library to construct
        and sign the message. Use the Message.toJSON method on the signed message
        and pass the JSON in the body of this POST request.
      externalDocs:
        url: https://docs.neynar.com/reference/publish-message-to-farcaster
      operationId: publish-message-to-farcaster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishMessageReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishMessageResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Publish message
      tags:
      - Signer
  /farcaster/cast/embed/crawl:
    get:
      description: Crawls the given URL and returns metadata useful when embedding
        the URL in a cast.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-embedded-url-metadata
      operationId: fetch-embedded-url-metadata
      parameters:
      - description: URL to crawl metadata of
        explode: true
        in: query
        name: url
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastEmbedCrawlResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Embedded URL metadata
      tags:
      - Cast
  /farcaster/cast:
    delete:
      description: |
        Delete an existing cast. \
        (In order to delete a cast `signer_uuid` must be approved)
      externalDocs:
        url: https://docs.neynar.com/reference/delete-cast
      operationId: delete-cast
      requestBody:
        content:
          application/json:
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              target_hash: 0x1ea99cbed57e4020314ba3fadd7c692d2de34d5f
            schema:
              $ref: '#/components/schemas/DeleteCastReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Delete a cast
      tags:
      - Cast
    get:
      description: Gets information about an individual cast by passing in a Warpcast
        web URL or cast hash
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-cast-by-hash-or-warpcast-url
      operationId: lookup-cast-by-hash-or-warpcast-url
      parameters:
      - description: Cast identifier (Its either a url or a hash)
        example: https://warpcast.com/rish/0x9288c1
        explode: true
        in: query
        name: identifier
        required: true
        schema:
          type: string
        style: form
      - example: url
        explode: true
        in: query
        name: type
        required: true
        schema:
          $ref: '#/components/schemas/CastParamType'
        style: form
      - description: adds viewer_context to cast object to show whether viewer has
          liked or recasted the cast.
        example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: By hash or URL
      tags:
      - Cast
    post:
      description: "Posts a cast or cast reply. Works with mentions and embeds.  \n\
        (In order to post a cast `signer_uuid` must be approved)\n"
      externalDocs:
        url: https://docs.neynar.com/reference/publish-cast
      operationId: publish-cast
      requestBody:
        content:
          application/json:
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              text: Writing to @farcaster via the @neynar APIs 🪐
            schema:
              $ref: '#/components/schemas/PostCastReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCastResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Post a cast
      tags:
      - Cast
  /farcaster/casts:
    get:
      description: Fetch multiple casts using their respective hashes.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-bulk-casts
      operationId: fetch-bulk-casts
      parameters:
      - description: "Hashes of the cast to be retrived (Comma separated, no spaces)"
        example: "0xa896906a5e397b4fec247c3ee0e9e4d4990b8004,0x27ff810f7f718afd8c40be236411f017982e0994"
        explode: true
        in: query
        name: casts
        required: true
        schema:
          type: string
          x-comma-separated: true
        style: form
      - description: adds viewer_context to cast object to show whether viewer has
          liked or recasted the cast.
        example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Optional parameter to sort the casts based on different criteria
        explode: true
        in: query
        name: sort_type
        required: false
        schema:
          enum:
          - trending
          - likes
          - recasts
          - replies
          - recent
          type: string
        style: form
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastsResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Bulk fetch casts
      tags:
      - Cast
  /farcaster/cast/search:
    get:
      description: "Search for casts based on a query string, with optional AND filters"
      externalDocs:
        url: https://docs.neynar.com/reference/search-casts
      operationId: search-casts
      parameters:
      - description: |
          Query string to search for casts. Supported operators:

          | Operator  | Description                                                                                              |
          | --------- | -------------------------------------------------------------------------------------------------------- |
          | `+`       | Acts as the AND operator. This is the default operator between terms and can usually be omitted.         |
          | `\|`      | Acts as the OR operator.                                                                                 |
          | `*`       | When used at the end of a term, signifies a prefix query.                                                  |
          | `"`       | Wraps several terms into a phrase (for example, `"star wars"`).                                          |
          | `(`, `)`  | Wrap a clause for precedence (for example, `star + (wars \| trek)`).                                     |
          | `~n`      | When used after a term (for example, `satr~3`), sets `fuzziness`. When used after a phrase, sets `slop`. |
          | `-`       | Negates the term.                                                                                        |
          | `before:` | Search for casts before a specific date. (e.g. `before:2025-04-20`)                                       |
          | `after:`  | Search for casts after a specific date. (e.g. `after:2025-04-20`)                                         |
        example: star (wars | trek) "space battle" after:2024-05-04
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - description: |
          Choices are:
          - `literal` - Searches for the words in the query string (default)
          - `semantic` - Searches for the meaning of the query string
          - `hybrid` - Combines both literal and semantic results
        example: literal
        explode: true
        in: query
        name: mode
        required: false
        schema:
          enum:
          - literal
          - semantic
          - hybrid
          type: string
        style: form
      - description: |
          Choices are:
          - `desc_chron` - All casts sorted by time (default)
          - `algorithmic` - Casts sorted by engagement and time
        explode: true
        in: query
        name: sort_type
        required: false
        schema:
          $ref: '#/components/schemas/SearchSortType'
        style: form
      - description: Fid of the user whose casts you want to search
        example: 194
        explode: true
        in: query
        name: author_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Providing this will return search results that respects this
          user's mutes and blocks and includes `viewer_context`.
        example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Parent URL of the casts you want to search
        explode: true
        in: query
        name: parent_url
        required: false
        schema:
          type: string
        style: form
      - description: Channel ID of the casts you want to search
        explode: true
        in: query
        name: channel_id
        required: false
        schema:
          type: string
        style: form
      - description: "When true, only returns search results from power badge users\
          \ and users that the viewer follows (if viewer_fid is provided)."
        explode: true
        in: query
        name: priority_mode
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Number of results to fetch
        example: 25
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastsSearchResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Search for casts
      tags:
      - Cast
  /farcaster/cast/metrics:
    get:
      description: Fetches metrics casts matching a query
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-cast-metrics
      operationId: fetch-cast-metrics
      parameters:
      - description: Query string to search for casts
        example: star wars
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - description: "Interval of time for which to fetch metrics. Choices are `1d`,\
          \ `7d`, `30d`"
        explode: true
        in: query
        name: interval
        required: false
        schema:
          enum:
          - 1d
          - 7d
          - 30d
          type: string
        style: form
      - description: Fid of the user whose casts you want to search
        example: 194
        explode: true
        in: query
        name: author_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Channel ID of the casts you want to search
        explode: true
        in: query
        name: channel_id
        required: false
        schema:
          type: string
        style: form
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastsMetricsResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Metrics for casts
      tags:
      - Metrics
  /farcaster/cast/conversation:
    get:
      description: Gets all casts related to a conversation surrounding a cast by
        passing in a cast hash or Warpcast URL. Includes all the ancestors of a cast
        up to the root parent in a chronological order. Includes all direct_replies
        to the cast up to the reply_depth specified in the query parameter.
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-cast-conversation
      operationId: lookup-cast-conversation
      parameters:
      - description: Cast identifier (Its either a url or a hash)
        example: https://warpcast.com/rish/0x9288c1
        explode: true
        in: query
        name: identifier
        required: true
        schema:
          type: string
        style: form
      - example: url
        explode: true
        in: query
        name: type
        required: true
        schema:
          $ref: '#/components/schemas/CastParamType'
        style: form
      - description: The depth of replies in the conversation that will be returned
          (default 2)
        explode: true
        in: query
        name: reply_depth
        required: false
        schema:
          $ref: '#/components/schemas/ReplyDepth'
        style: form
      - description: Include all parent casts in chronological order
        explode: true
        in: query
        name: include_chronological_parent_casts
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Providing this will return a conversation that respects this
          user's mutes and blocks and includes `viewer_context`.
        example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Sort type for the ordering of descendants. Default is `chron`
        explode: true
        in: query
        name: sort_type
        required: false
        schema:
          $ref: '#/components/schemas/CastConversationSortType'
        style: form
      - description: Show conversation above or below the fold. Lower quality responses
          are hidden below the fold. Not passing in a value shows the full conversation
          without any folding.
        explode: true
        in: query
        name: fold
        required: false
        schema:
          enum:
          - above
          - below
          type: string
        style: form
      - description: Number of results to fetch
        example: 30
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Conversation for a cast
      tags:
      - Cast
  /farcaster/cast/conversation/summary:
    get:
      description: |
        Generates a summary of all casts related to a conversation surrounding a cast by passing in a cast hash or Warpcast URL.  Summary is generated by an LLM and is intended to be passed as a context to AI agents.
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-cast-conversation-summary
      operationId: lookup-cast-conversation-summary
      parameters:
      - description: Cast identifier (Its either a url or a hash)
        example: 0x9288c1e862aa72bd69d0e383a28b9a76b63cbdb4
        explode: true
        in: query
        name: identifier
        required: true
        schema:
          type: string
        style: form
      - description: Number of casts to consider in a summary up to a point of target
          cast
        example: 50
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Additional prompt used to generate a summary
        example: be unreasonably dramatic
        explode: true
        in: query
        name: prompt
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationSummary'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Cast conversation summary
      tags:
      - Agents
  /farcaster/feed:
    get:
      description: Fetch casts based on filters. Ensure setting the correct parameters
        based on the feed_type and filter_type.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-feed
      operationId: fetch-feed
      parameters:
      - description: Defaults to following (requires FID or address). If set to filter
          (requires filter_type)
        example: filter
        explode: true
        in: query
        name: feed_type
        required: true
        schema:
          $ref: '#/components/schemas/FeedType'
        style: form
      - description: Used when feed_type=filter. Can be set to FIDs (requires FIDs)
          or parent_url (requires parent_url) or channel_id (requires channel_id)
        example: fids
        explode: true
        in: query
        name: filter_type
        required: false
        schema:
          $ref: '#/components/schemas/FilterType'
        style: form
      - description: "(Optional) FID of user whose feed you want to create. By default,\
          \ the API expects this field, except if you pass a filter_type"
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Used when filter_type=FIDs . Create a feed based on a list of
          FIDs. Max array size is 100. Requires feed_type and filter_type.
        example: "3,2,194"
        explode: true
        in: query
        name: fids
        required: false
        schema:
          type: string
        style: form
      - description: Used when filter_type=parent_url can be used to fetch content
          under any parent url e.g. FIP-2 channels on Warpcast. Requires feed_type
          and filter_type.
        explode: true
        in: query
        name: parent_url
        required: false
        schema:
          type: string
        style: form
      - description: Used when filter_type=channel_id can be used to fetch casts under
          a channel. Requires feed_type and filter_type.
        explode: true
        in: query
        name: channel_id
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: Used when filter_type=channel_id. Only include casts from members
          of the channel. True by default.
        explode: true
        in: query
        name: members_only
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Used when filter_type=embed_url. Casts with embedded URLs prefixed
          by this embed_url param will be returned. We normalize your given URL prefix
          and prepend 'https://' if no protocol is included. Requires feed_type and
          filter_type.
        explode: true
        in: query
        name: embed_url
        required: false
        schema:
          type: string
        style: form
      - description: Used when filter_type=embed_types can be used to fetch all casts
          with matching content types. Requires feed_type and filter_type.
        explode: false
        in: query
        name: embed_types
        required: false
        schema:
          items:
            $ref: '#/components/schemas/EmbedType'
          type: array
        style: form
      - description: "Include recasts in the response, true by default"
        explode: true
        in: query
        name: with_recasts
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Number of results to fetch
        example: 30
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Providing this will return a feed that respects this user's mutes
          and blocks and includes `viewer_context`.
        example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: By filters
      tags:
      - Feed
  /farcaster/feed/following:
    get:
      description: Fetch feed based on who a user is following
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-user-following-feed
      operationId: fetch-user-following-feed
      parameters:
      - description: FID of user whose feed you want to create
        example: 3
        explode: true
        in: query
        name: fid
        required: true
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Providing this will return a feed that respects this user's mutes
          and blocks and includes `viewer_context`.
        example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Include recasts in the response, true by default"
        explode: true
        in: query
        name: with_recasts
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Number of results to fetch
        example: 30
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Following
      tags:
      - Feed
  /farcaster/feed/for_you:
    get:
      description: Fetch a personalized For You feed for a user
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-feed-for-you
      operationId: fetch-feed-for-you
      parameters:
      - description: FID of user whose feed you want to create
        example: 194
        explode: true
        in: query
        name: fid
        required: true
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Providing this will return a feed that respects this user's mutes
          and blocks and includes `viewer_context`.
        example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - explode: true
        in: query
        name: provider
        required: false
        schema:
          $ref: '#/components/schemas/ForYouProvider'
        style: form
      - description: Number of results to fetch
        example: 30
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 50
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: |
          provider_metadata is a URI-encoded stringified JSON object that can be used to pass additional metadata to the provider. Only available for mbd provider right now. See [here](https://docs.neynar.com/docs/feed-for-you-w-external-providers) on how to use.
        explode: true
        in: query
        name: provider_metadata
        required: false
        schema:
          type: string
        style: form
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fetch_feed_for_you_400_response'
          description: Bad Request
      summary: For you
      tags:
      - Feed
  /farcaster/user/subscriptions_created:
    get:
      description: Fetch created subscriptions for a given FID's.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-subscriptions-for-fid
      operationId: fetch-subscriptions-for-fid
      parameters:
      - example: 528
        explode: true
        in: query
        name: fid
        required: true
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - explode: true
        in: query
        name: subscription_provider
        required: true
        schema:
          $ref: '#/components/schemas/SubscriptionProvider'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionsResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Subscriptions created by FID
      tags:
      - Subscribers
  /farcaster/user/subscribed_to:
    get:
      description: Fetch what FIDs and contracts a FID is subscribed to.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-subscribed-to-for-fid
      operationId: fetch-subscribed-to-for-fid
      parameters:
      - example: 3206
        explode: true
        in: query
        name: fid
        required: true
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - explode: true
        in: query
        name: subscription_provider
        required: true
        schema:
          $ref: '#/components/schemas/SubscriptionProvider'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscribedToResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Subscribed to
      tags:
      - Subscribers
  /farcaster/user/subscribers:
    get:
      description: Fetch subscribers for a given FID's contracts. Doesn't return addresses
        that don't have an FID.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-subscribers-for-fid
      operationId: fetch-subscribers-for-fid
      parameters:
      - example: 3206
        explode: true
        in: query
        name: fid
        required: true
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - explode: true
        in: query
        name: subscription_provider
        required: true
        schema:
          $ref: '#/components/schemas/SubscriptionProviders'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscribersResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Subscribers of a user
      tags:
      - Subscribers
  /farcaster/feed/channels:
    get:
      description: Fetch feed based on channel IDs
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-feed-by-channel-ids
      operationId: fetch-feed-by-channel-ids
      parameters:
      - description: "Comma separated list of up to 10 channel IDs e.g. neynar,farcaster"
        example: "neynar,farcaster"
        explode: true
        in: query
        name: channel_ids
        required: true
        schema:
          type: string
          x-comma-separated: true
        style: form
      - description: "Include recasts in the response, true by default"
        explode: true
        in: query
        name: with_recasts
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Providing this will return a feed that respects this user's mutes
          and blocks and includes `viewer_context`.
        example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Include replies in the response, false by default"
        explode: true
        in: query
        name: with_replies
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - deprecated: true
        description: Only include casts from members of the channel. True by default.
        explode: true
        in: query
        name: members_only
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Comma separated list of FIDs to filter the feed by, up to 10\
          \ at a time"
        explode: true
        in: query
        name: fids
        required: false
        schema:
          type: string
          x-comma-separated: true
          x-accept-as: integer
        style: form
      - description: Number of results to fetch
        example: 30
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: "If true, only casts that have been liked by the moderator (if\
          \ one exists) will be returned."
        explode: true
        in: query
        name: should_moderate
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: By channel IDs
      tags:
      - Feed
  /farcaster/feed/parent_urls:
    get:
      description: Fetch feed based on parent URLs
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-feed-by-parent-urls
      operationId: fetch-feed-by-parent-urls
      parameters:
      - description: Comma separated list of parent_urls
        example: chain://eip155:1/erc721:0xd4498134211baad5846ce70ce04e7c4da78931cc
        explode: true
        in: query
        name: parent_urls
        required: true
        schema:
          type: string
          x-comma-separated: true
        style: form
      - description: "Include recasts in the response, true by default"
        explode: true
        in: query
        name: with_recasts
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Providing this will return a feed that respects this user's mutes
          and blocks and includes `viewer_context`.
        example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Include replies in the response, false by default"
        explode: true
        in: query
        name: with_replies
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Number of results to fetch
        example: 30
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: By parent URLs
      tags:
      - Feed
  /farcaster/feed/frames:
    get:
      description: "Fetch feed of casts with mini apps, reverse chronological order"
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-frames-only-feed
      operationId: fetch-frames-only-feed
      parameters:
      - description: Number of results to fetch
        example: 30
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Providing this will return a feed that respects this user's mutes
          and blocks and includes `viewer_context`.
        example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Casts with mini apps
      tags:
      - Feed
  /farcaster/feed/trending:
    get:
      description: Fetch trending casts or on the global feed or channels feeds. 7d
        time window available for channel feeds only.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-trending-feed
      operationId: fetch-trending-feed
      parameters:
      - description: Number of results to fetch
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 10
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Providing this will return a feed that respects this user's mutes
          and blocks and includes `viewer_context`.
        example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Time window for trending casts (7d window for channel feeds only)
        explode: true
        in: query
        name: time_window
        required: false
        schema:
          default: 24h
          description: Time window for trending content
          enum:
          - 1h
          - 6h
          - 12h
          - 24h
          - 7d
          example: 24h
          type: string
        style: form
      - description: "Channel ID to filter trending casts. Less active channels might\
          \ have no casts in the time window selected. Provide either `channel_id`\
          \ or `parent_url`, not both."
        example: neynar
        explode: true
        in: query
        name: channel_id
        required: false
        schema:
          type: string
        style: form
      - description: "Parent URL to filter trending casts. Less active channels might\
          \ have no casts in the time window selected. Provide either `channel_id`\
          \ or `parent_url`, not both."
        example: chain://eip155:1/erc721:0xd4498134211baad5846ce70ce04e7c4da78931cc
        explode: true
        in: query
        name: parent_url
        required: false
        schema:
          type: string
        style: form
      - description: The provider of the trending casts feed.
        example: neynar
        explode: true
        in: query
        name: provider
        required: false
        schema:
          $ref: '#/components/schemas/FeedTrendingProvider'
        style: form
      - description: |
          provider_metadata is a URI-encoded stringified JSON object that can be used to pass additional metadata to the provider. Only available for mbd provider right now. See [here](https://docs.neynar.com/docs/feed-for-you-w-external-providers) on how to use.
        explode: true
        in: query
        name: provider_metadata
        required: false
        schema:
          type: string
        style: form
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fetch_trending_feed_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Trending feeds
      tags:
      - Feed
  /farcaster/feed/user/popular:
    get:
      description: "Fetch 10 most popular casts for a given user FID; popularity based\
        \ on replies, likes and recasts; sorted by most popular first"
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-popular-casts-by-user
      operationId: fetch-popular-casts-by-user
      parameters:
      - description: FID of user whose feed you want to create
        example: 194
        explode: true
        in: query
        name: fid
        required: true
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCastsResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: 10 most popular casts
      tags:
      - Feed
  /farcaster/feed/user/replies_and_recasts:
    get:
      description: Fetch recent replies and recasts for a given user FID; sorted by
        most recent first
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-replies-and-recasts-for-user
      operationId: fetch-replies-and-recasts-for-user
      parameters:
      - description: FID of user whose replies and recasts you want to fetch
        example: 194
        explode: true
        in: query
        name: fid
        required: true
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: filter to fetch only replies or recasts
        example: replies
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: all
          enum:
          - replies
          - recasts
          - all
          type: string
        style: form
      - description: Number of results to fetch
        example: 30
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          example: 25
          maximum: 50
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Providing this will return a feed that respects this user's mutes
          and blocks and includes `viewer_context`.
        example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Replies and recasts
      tags:
      - Feed
  /farcaster/feed/user/casts:
    get:
      description: Fetch casts for a given user FID in reverse chronological order.
        Also allows filtering by parent_url and channel
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-casts-for-user
      operationId: fetch-casts-for-user
      parameters:
      - description: FID of user whose recent casts you want to fetch
        example: 194
        explode: true
        in: query
        name: fid
        required: true
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Optionally filter to casts created via a specific app FID, e.g.\
          \ 9152 for Warpcast"
        example: 9152
        explode: true
        in: query
        name: app_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: FID of the user viewing the feed
        example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Number of results to fetch
        example: 30
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 150
          minimum: 1
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "Include reply casts by the author in the response, true by default"
        explode: true
        in: query
        name: include_replies
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Parent URL to filter the feed; mutually exclusive with channel_id
        explode: true
        in: query
        name: parent_url
        required: false
        schema:
          type: string
        style: form
      - description: Channel ID to filter the feed; mutually exclusive with parent_url
        explode: true
        in: query
        name: channel_id
        required: false
        schema:
          type: string
        style: form
      - description: "Enables experimental features including filtering based on the\
          \ Neynar score. See [docs](https://neynar.notion.site/Experimental-Features-1d2655195a8b80eb98b4d4ae7b76ae4a)\
          \ for more details."
        explode: false
        in: header
        name: x-neynar-experimental
        required: false
        schema:
          default: false
          type: boolean
        style: simple
        x-is-global-header: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Chronologically
      tags:
      - Feed
  /farcaster/frame:
    delete:
      description: "Delete an existing mini app, if it was made by the developer (identified\
        \ by API key)"
      externalDocs:
        url: https://docs.neynar.com/reference/delete-neynar-frame
      operationId: delete-neynar-frame
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteFrameReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFrameResponse'
          description: Mini app deleted successfully
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
      summary: Delete mini app
      tags:
      - Frame
    get:
      description: Fetch a mini app either by UUID or Neynar URL
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-neynar-frame
      operationId: lookup-neynar-frame
      parameters:
      - explode: true
        in: query
        name: type
        required: true
        schema:
          $ref: '#/components/schemas/FrameType'
        style: form
      - description: UUID of the mini app to fetch
        explode: true
        in: query
        name: uuid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: URL of the Neynar mini app to fetch
        explode: true
        in: query
        name: url
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NeynarFrame'
          description: A mini app object
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
      summary: Mini app by UUID or URL
      tags:
      - Frame
    post:
      description: Create a new mini app with a list of pages.
      externalDocs:
        url: https://docs.neynar.com/reference/publish-neynar-frame
      operationId: publish-neynar-frame
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NeynarFrameCreationReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NeynarFrame'
          description: Mini app created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Create mini app
      tags:
      - Frame
    put:
      description: "Update an existing mini app with a list of pages, if it was made\
        \ by the developer (identified by API key)"
      externalDocs:
        url: https://docs.neynar.com/reference/update-neynar-frame
      operationId: update-neynar-frame
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NeynarFrameUpdateReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NeynarFrame'
          description: Mini app updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
      summary: Update mini app
      tags:
      - Frame
  /farcaster/frame/catalog:
    get:
      description: A curated list of featured mini apps
      operationId: fetch-frame-catalog
      parameters:
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "Time window used to calculate the change in trending score for\
          \ each mini app, used to sort mini app results"
        explode: true
        in: query
        name: time_window
        required: false
        schema:
          $ref: '#/components/schemas/MiniAppTimeWindow'
        style: form
      - description: "Comma separated list of categories to include in the results.\
          \  Includes all if left blank.  Example: `categories=games,social` OR: `categories=games&categories=social`"
        example:
        - games
        - social
        explode: false
        in: query
        name: categories
        required: false
        schema:
          items:
            enum:
            - games
            - social
            - finance
            - utility
            - productivity
            - health-fitness
            - news-media
            - music
            - shopping
            - education
            - developer-tools
            - entertainment
            - art-creativity
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrameCatalogResponse'
          description: Successful response
      summary: Mini apps catalog
      tags:
      - Frame
  /farcaster/frame/relevant:
    get:
      description: Fetch a list of mini apps relevant to the user based on casts by
        users with strong affinity score for the user
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-frame-relevant
      operationId: fetch-relevant-frames
      parameters:
      - description: FID of the user to fetch relevant mini apps for
        explode: true
        in: query
        name: viewer_fid
        required: true
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Time window used to limit statistics used to calculate mini app
          relevance
        explode: true
        in: query
        name: time_window
        required: false
        schema:
          $ref: '#/components/schemas/MiniAppTimeWindow'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fetch_relevant_frames_200_response'
          description: Successful response
      summary: Relevant mini apps
      tags:
      - Frame
  /farcaster/frame/list:
    get:
      description: Fetch a list of mini apps made by the developer (identified by
        API key)
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-neynar-frames
      operationId: fetch-neynar-frames
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NeynarFrame'
                type: array
          description: A list of mini apps
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
      summary: List of mini apps
      tags:
      - Frame
  /farcaster/frame/search:
    get:
      description: Search for mini apps based on a query string
      externalDocs:
        url: https://docs.neynar.com/reference/search-frames
      operationId: search-frames
      parameters:
      - description: Query string to search for mini apps
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - description: Number of results to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          type: integer
        style: form
        x-is-limit-param: true
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrameCatalogResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Search mini apps
      tags:
      - Frame
  /farcaster/frame/crawl:
    get:
      description: Fetches the mini app meta tags from the URL
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-frame-meta-tags-from-url
      operationId: fetch-frame-meta-tags-from-url
      parameters:
      - description: The mini app URL to crawl
        example: https://frames.neynar.com/f/862277df/ff7be6a4
        explode: true
        in: query
        name: url
        required: true
        schema:
          format: uri
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fetch_frame_meta_tags_from_url_200_response'
          description: The response object containing the mini app object
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Meta tags from URL
      tags:
      - Frame
  /farcaster/reaction:
    delete:
      description: |
        Delete a reaction (like or recast) to a cast \
        (In order to delete a reaction `signer_uuid` must be approved)
      externalDocs:
        url: https://docs.neynar.com/reference/delete-reaction
      operationId: delete-reaction
      requestBody:
        content:
          application/json:
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              target: 0x1ea99cbed57e4020314ba3fadd7c692d2de34d5f
              reaction_type: like
            schema:
              $ref: '#/components/schemas/ReactionReqBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "404":
          content:
[...]
